<div class="p p-bcreate" style="display:none;">
    <div class="p-header">
        <a href="#" class="min" style="position: absolute;top:-20px;right: 20px;font-size: 11px;color: #fff;z-index: 100;">Минимизировать форму</a>
        <div class="p-menu tabs">

            <a href="#" class="p-menu-item p-close" style="float:right;width:60px;padding:0;text-align:center;font-size:30px;">✕</a>

            <a href="#" data-tab="content-tab-1" class="tab p-menu-item" style="font-size:20px;">Создать занятие</a>

        </div>
    </div>
    <div class="p-content">
        <div class="content-tab content-tab-6 active">
            {% include 'blocks/lesson_form.html' %}
        </div>
    </div>
</div>