{% spaceless %}
<div class="p p-dialog">
    <div class="p-header">
        <div class="p-menu tabs">

            <a href="#" class="p-menu-item p-close">✕</a>

            <a href="#" data-tab="content-tab-1" class="tab p-menu-item" style="padding-top:10px;height:50px;line-height:50px;">
                <img style="float:left;width:40px;height:40px;border-radius:20px;margin-right:10px;" src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg">
                <div style="float:left;">
                    <div style="line-height:20px;font-size:18px;margin-top:3px;">Петров Ю.В.</div>
                    <div style="line-height:15px;font-size:14px;color:#999;">Основной аккаунт</div>
                </div>
            </a>
{#            <a href="#" data-tab="content-tab-1" class="tab p-menu-item">Иван Петров</a>#}
            <a href="#" data-tab="content-tab-2" class="tab p-menu-item active">Сообщения <!--span class="counter" style="margin-left:5px;margin-right:-10px;">3</span--></a>
{#            <a href="#" data-tab="content-tab-3" class="tab p-menu-item active">Занятия</a>#}
{#            <a href="#" class="button button-light" style="margin:10px 0 0 10px;height:40px;line-height:40px;padding:0 20px;border:0;font-size:11px;font-weight:bold;color:#B2B2BB;text-transform:uppercase;background:#fff;"><span style="font-size:12px;">+</span> Добавить в мои ученики</a>#}
{#            <a href="#" class="button button-light" style="margin-left:15px;padding:0 10px;margin-top:15px;height:28px;background:#fff;line-height:28px;font-size:14px;border:1px solid #fff;border-radius:2px;">Добавить в ученики</a>#}
{#            <a href="#" class="button button-light" style="margin-left:10px;padding:0 10px;margin-top:15px;height:28px;background:#fff;line-height:28px;font-size:14px;border:1px solid #fff;border-radius:2px;">Запросить создать ученика</a>#}
{#            <a href="#" class="button button-light" style="margin-left:10px;padding:0 10px;margin-top:15px;height:28px;background:#fff;line-height:28px;font-size:14px;border:1px solid #fff;border-radius:2px;">Скрыть свои контакты</a>#}

        </div>
    </div>
    <div class="p-content" style="background:#fff;">
        <div class="content-tab content-tab-1" style="background:#fff;padding-bottom:20px;">
            <style>
                .popup-student {cursor:pointer;float:left;}
                .popup-student:hover {background:#f1f1f5;}
            </style>
            <div style="float:left;width:200px;">

                <img src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg" style="width:170px;height:170px;border-radius:100px;">

                <h3 style="font-size:20px;line-height:20px;margin:38px 0 10px;border-bottom:1px solid #ddd;padding:0 0 10px 0;">Контакты</h3>

                <div>
                    <div style="height:40px;">
                        <div class="header-tip" style="margin-top:0;">Телефон</div>
                        <div class="h-mini">8 (800) 800 80 80</div>
                    </div>
                    <div style="height:40px;margin-top:10px;">
                        <div class="header-tip" style="margin-top:0;">Email</div>
                        <div class="h-mini">maxim@koroteev.ru</div>
                    </div>
                    <div style="height:40px;margin-top:10px;">
                        <div class="header-tip" style="margin-top:0;">Skype</div>
                        <div class="h-mini">maxim.koroteev</div>
                    </div>

                    <div style="margin:20px 0;">
                        <a href="#" class="button button-light" style="display:block;height:40px;line-height:40px;padding:0 7px;border:0;font-size:11px;font-weight:bold;color:#fff;text-transform:uppercase;background:#3b99d8;margin-right:10px;margin-bottom:10px;">+ Добавить в мои ученики</a>
                        <a href="#" class="button button-light call-student-create-form" style="display:block;height:40px;line-height:40px;padding:0 10px;border:0;font-size:11px;font-weight:bold;color:#74747a;text-transform:uppercase;margin-right:10px;margin-bottom:10px;background:#f1f1f5;">Создать занятие</a>
{#                        <a href="#" class="button button-light call-student-create-form" style="display:block;height:40px;line-height:40px;padding:0 4px;margin-bottom:10px;border:0;font-size:11px;font-weight:bold;color:#74747a;text-transform:uppercase;margin-right:10px;background:#f1f1f5;">Запросить создать ученика</a>#}
{#                        <a href="#" class="button button-light" style="display:block;height:40px;line-height:40px;padding:0 10px;border:0;font-size:11px;font-weight:bold;color:#74747a;text-transform:uppercase;margin-right:10px;background:#f1f1f5;">Скрыть контакты</a>#}
                    </div>


                </div>

            </div>

            <div style="margin-left:220px;">
                <h2 style="margin:0 0 0;border-bottom:1px solid transparent;padding:0 0 0 0;">Петров Юрий Владимирович</h2>
                <div style="font-size:14px;line-height:20px;margin-bottom:10px;color:#999;">Основной аккаунт</div>

                <h3 style="font-size:20px;line-height:20px;margin:0px 0 0px;border-bottom:1px solid #ddd;padding:0 0 10px 0;">Другие члены семьи</h3>

                <div style="height:40px;margin:5px 0;padding:5px;border-radius:2px;margin-right:20px;">
                    <img style="float:left;width:40px;height:40px;border-radius:20px;margin-right:10px;" src="http://blog.etailz.com/wp-content/uploads/2013/09/kid-yucky-face.jpg">
                    <div style="float:left;">
                        <div style="line-height:20px;font-size:18px;margin-top:3px;color:#47b;">Иван Петров</div>
                        <div style="line-height:15px;font-size:14px;color:#999;">Ученик</div>
                    </div>
                </div>

                <div style="height:40px;margin:5px 0;padding:5px;border-radius:2px;">
                    <img style="float:left;width:40px;height:40px;border-radius:20px;margin-right:10px;" src="http://images3.parentsconnect.com/editorial_images/6/little-girl-using-smartphone-280x280.jpg">
                    <div style="float:left;">
                        <div style="line-height:20px;font-size:18px;margin-top:3px;color:#47b;">Елена Петрова</div>
                        <div style="line-height:15px;font-size:14px;color:#999;">Ученик без аккаунта</div>
                    </div>
                </div>

                <h3 style="font-size:20px;line-height:20px;margin:0 0 10px;border-bottom:1px solid #ddd;padding:5px 0 10px 0;width:100%;">Адреса</h3>

                <div>
                    <div class="h-mini" style="margin-top:0;">г. Москва, Ленинский проспект, дом 100, подъезд 1, этаж 3, квартира 10. м. Юго-западная</div>
                </div>

                <h3 style="font-size:20px;line-height:20px;margin:0 0 10px;border-bottom:1px solid #ddd;padding:30px 0 10px 0;">Дополнительная информация</h3>

                <div>
                    <div class="header-tip" style="margin-top:0;">Дата рождения</div>
                    <div class="h-mini">31 Сентября 1990</div>
                </div>
                <div>
                    <div class="header-tip">Основное занятие</div>
                    <div class="h-mini">Студент МГТУ им. Баумана<br> Финансовый факультет<br> Специалист по финансовому менеджменту</div>
                </div>

            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="content-tab content-tab-2 active">

            <!--div class="tabs2" style="border-bottom:1px solid #ddd;margin-bottom:20px;">

                    <div style="float:right;">
                        <a href="#" class="button button-light" style="margin-left:10px;padding:0 15px;margin-top:10px;height:28px;background:none;line-height:28px;font-size:15px;border:1px solid #ddd;border-radius:2px;">+ Добавить в ученики</a>
                        <a href="#" class="button button-light" style="margin-left:10px;padding:0 15px;margin-top:10px;height:28px;background:none;line-height:28px;font-size:15px;border:1px solid #ddd;border-radius:2px;">Запросить создать ученика</a>
                        <a href="#" class="button button-light" style="margin-left:10px;padding:0 15px;margin-top:10px;height:28px;background:none;line-height:28px;font-size:15px;border:1px solid #ddd;border-radius:2px;">Скрыть свои контакты</a>
                    </div>

                <a href="#" class="tab2" style="margin-bottom:-1px;padding:0 15px;text-decoration:none;color:#000;height:50px;line-height:50px;border:1px solid #ddd;border-bottom-color:#fff;">Диалог</a>
                <a href="#" class="tab2" style="margin-bottom:-1px;padding:0 15px;text-decoration:none;color:#000;height:50px;line-height:50px;border:1px solid #ddd;border-left:0;">Профиль</a>
            </div-->

            <div style="background:#fff;width:100%;margin-left:-20px;margin-top:-20px;" class="message-form">
                <textarea style="border:0;" placeholder="..."></textarea>
                <div style="border-top:1px solid #e4e4ea;width:610px;padding:10px 20px 10px;background:#fff;">
                    <div class="dialog-buttons">
                        <div style="float:right;">
{#                            <a href="#" class="button button-light" style="height:40px;line-height:40px;padding:0 0;border:0;font-size:11px;font-weight:bold;color:#B2B2BB;text-transform:uppercase;margin-left:25px;background:#fff;">+ Добавить в мои ученики</a>#}
{#                            <a href="#" class="button button-light call-student-create-form" style="height:40px;line-height:40px;padding:0 0;border:0;font-size:11px;font-weight:bold;color:#B2B2BB;text-transform:uppercase;margin-left:25px;background:#fff;">Создать занятие</a>#}
{#                            <a href="#" class="button button-light call-student-create-form" style="height:40px;line-height:40px;padding:0 0;border:0;font-size:11px;font-weight:bold;color:#B2B2BB;text-transform:uppercase;margin-left:25px;background:#fff;">Запросить создать ученика</a>#}
{#                            <a href="#" class="button button-light" style="height:40px;line-height:40px;padding:0 0;border:0;font-size:11px;font-weight:bold;color:#B2B2BB;text-transform:uppercase;margin-left:25px;background:#fff;">Скрыть свои контакты</a>#}
                        </div>
                        <a href="#" class="button" style="height:40px;line-height:41px;padding:0 20px;font-size:13px;text-transform:uppercase;font-weight:bold;">Отправить</a>
{#                        <i class="fa fa-paperclip" style="color:#B2B2BB;font-size:30px;line-height:40px;margin-left:20px;"></i>#}
                    </div>
                </div>
            </div>

            <div style="background:#fff;width:100%;margin-left:-20px;margin-top:-20px;display:none;" class="student-create-form">

                <div style="padding:20px 20px 10px;width:100%;background:#fff;">
                    <div style="font-size:17px;line-height:17px;margin-bottom:12px;color:#74747a;">Кто будет проходить обучение?</div>

                    <div style="width:28%;margin-right:2%;float:left;font-size:16px;color:#333;" class="select">Другой член семьи</div>
                    <div style="width:28%;margin-right:2%;float:left;font-size:16px;color:#999;" class="input">Имя</div>
                    <div style="width:28%;margin-right:0 ;float:left;font-size:16px;color:#999;" class="input">Фамилия</div>
                    <div style="clear:both;"></div>
                </div>

                <div style="border-top:1px solid #e4e4ea;width:940px;padding:10px 20px 10px;background:#fff;clear:both;">
                    <div class="dialog-buttons">
                        <a href="#" class="button call-message-form" style="height:40px;line-height:41px;padding:0 20px;font-size:13px;text-transform:uppercase;font-weight:bold;" >Отправить</a>
                        <a href="#" class="button call-message-form" style="margin-left:10px;background:#e4e4ea;color:#777;height:40px;line-height:41px;padding:0 20px;font-size:13px;text-transform:uppercase;font-weight:bold;">Отменить</a>
                    </div>
                </div>
            </div>

            <script>
                $('.call-student-create-form').click(function() {
                    $('.student-create-form').show();
                    $('.message-form').hide();
                });
                $('.call-message-form').click(function() {
                    $('.student-create-form').hide();
                    $('.message-form').show();
                });
            </script>

            <div class="messages" style="width:630px;margin-left:-20px;border:10px solid #e4e4ea;">

                <div class="message">
                    <img class="message-avatar" src="http://www.epigami.sg/images/tutor/3761/ashley-chin-tutor-epigami-L.jpg">
                    <div class="message-name"><div class="message-time">1 минуту назад</div>Тина Александровна</div>
                    <div class="message-text">Давай, до завтра</div>
                    <div style="color:#B2B2BB;position:absolute;top:0;right:0;padding:10px 10px;"><i class="fa fa-pencil" style="padding-right:10px;"></i><i class="fa fa-times"></i></div>
                </div>
                <div class="message">
                    <img class="message-avatar" src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg">
                    <div class="message-time">4 минут назад</div>
                    <div class="message-name">Юрий Петров</div>
                    <div class="message-text">Хорошо</div>
                </div>
                <div class="message">
                    <img class="message-avatar" src="http://www.epigami.sg/images/tutor/3761/ashley-chin-tutor-epigami-L.jpg">
                    <div class="message-name"><div class="message-time">5 минут назад</div>Тина Александровна</div>
                    <div class="message-text">Всё, готовы, жду завтра в 15:00</div>
                    <div style="color:#B2B2BB;position:absolute;top:0;right:0;padding:10px 10px;"><i class="fa fa-pencil" style="padding-right:10px;"></i><i class="fa fa-times"></i></div>
                </div>
                <div class="message message-system">
                    <div class="message-time">5 минут назад</div>
                    Тина Александровна создала занятие с Иван Петров<!--. <a href="#" class="p-lesson-call">Открыть занятие</a>-->
                </div>
{#                <div class="message message-system">#}
{#                    <div class="message-time">5 минут назад</div>#}
{#                    Обучение будет проходить Елена Петрова#}
{#                </div>#}

{#                <div class="message">#}
{#                    <img class="message-avatar" src="http://blog.etailz.com/wp-content/uploads/2013/09/kid-yucky-face.jpg">#}
{#                    <div class="message-time">Только что</div>#}
{#                    <div class="message-name">Иван Петров</div>#}
{#                    <div class="message-text">#}
{#                        <p>Обучение будет проходить</p>#}
{#                        <div style="display:inline-block;padding:10px;background:#f1f1f5;border-radius:2px;">#}
{#                            <img class="message-avatar" src="http://images3.parentsconnect.com/editorial_images/6/little-girl-using-smartphone-280x280.jpg?quality=0.6&height=200&width=200&" style="margin-right:10px;width:65px;height:65px;border-radius:35px;float:left;">#}
{#                            <div class="message-name" style="margin-top:0;">Елена Петрова</div>#}
{#                            <div class="message-name" style="margin-left:75px;">#}
{#                                <a href="#" class="button" style="height:40px;line-height:40px;">+ Добавить в мои ученики</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <!--div class="message">
                    <img class="message-avatar" src="http://www.epigami.sg/images/tutor/3761/ashley-chin-tutor-epigami-L.jpg">
                    <div class="message-time">1 минуту назад</div>
                    <div class="message-name">Тина Александровна</div>
                    <div class="message-text">

                        <p>Кто будет проходить обучение?</p>

                        <div>
                            <div style="display:inline-block;width:44%;text-align:left;" class="select">Другой член семьи</div>
                            <div>
                            <div style="display:inline-block;width:44%;margin-right:2%;text-align:left;" class="input">Имя</div>
                            <div style="display:inline-block;width:44%;text-align:left;" class="input">Фамилия</div>
                            </div>
                        </div>
                        <div class="dialog-buttons">
                        <a href="#" class="button" style="padding:0 18px;margin-right:10px;">Отправить</a><a style="padding:0 18px;" href="#" class="button button-light">Отменить</a>
                            </div>
                    </div>
                </div-->

                <div class="message message-system">
                    <div class="message-time">6 минут назад</div>
                    Вы открыли контактные данные пользователю Тина Александровна
                </div>

                <div class="message">
                    <img class="message-avatar" src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg">
                    <div class="message-time">7 минут назад</div>
                    <div class="message-name">Юрий Петров</div>
                    <div class="message-text">Что для этого нужно сделать?</div>
                </div>

                <div class="message message-system">
                    <div class="message-time">9 минут назад</div>
                    Вам открыты контактные данные пользователя Тина Александровна
                </div>

                <div class="message">
                    <img class="message-avatar" src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg">
                    <div class="message-time">10 минут назад</div>
                    <div class="message-name">Юрий Петров</div>
                    <div class="message-text">А давайте</div>
                </div>
                <div class="message">
                    <img class="message-avatar" src="http://www.epigami.sg/images/tutor/3761/ashley-chin-tutor-epigami-L.jpg">
                    <div class="message-time">15 минут назад</div>
                    <div class="message-name">Тина Александровна</div>
                    <div class="message-text">Здравствуйте, я готова позаниматься с Вами</div>
                </div>
            </div>
        </div>
{#        <div class="content-tab content-tab-3 active">#}
{##}
{#            <style>#}
{#                .lessons-table {font-size:14px;border-collapse:collapse;width:100%;}#}
{#                .lessons-table td, .lessons-table th {border-bottom:1px solid #fff;padding:15px 15px;text-align:left;}#}
{#                .lessons-table th {padding:10px 10px;}#}
{#                .lessons-table td {cursor:pointer;border:1px solid #fff;background:#f1f1f5;}#}
{#                .lessons-table .status-ok td {background:#DAE8F9;}#}
{#                .lessons-table .status-bad td {background:#F9DADA;}#}
{#                .lessons-table .status-good td {background:#DAF9DB;}#}
{#            </style>#}
{##}
{#            <table class="lessons-table">#}
{#                <tr>#}
{#                    <th>Дата и время</th>#}
{#                    <th>Предмет</th>#}
{#                    <th>Статус</th>#}
{#                    <th>Ученик</th>#}
{#                    <th>Цена</th>#}
{#                    <th>Статус оплаты</th>#}
{#                </tr>#}
{#                {% for i in '1234567890' %}#}
{#                    <tr class="status-{% if i == '3' or i == '5' %}bad{% elif i == '4' %}ok{% elif i == '2' or  i == '8' %}good{% endif %}">#}
{#                        <td class="p-lesson-call">10.10.2015 - 10:40</td>#}
{#                        <td class="p-lesson-call">Математика</td>#}
{#                        <td class="p-lesson-call">Состоялось</td>#}
{#                        <td class="p-lesson-call">Иванов А.Ю</td>#}
{#                        <td class="p-lesson-call">1 500 р.</td>#}
{#                        <td class="p-lesson-call">#}
{#                            {% if i == '3' or i == '5' %}#}
{#                                Сбой оплаты#}
{#                            {% elif i == '4' %}#}
{#                                Назначен платёж#}
{#                            {% elif i == '2' or i == '8' %}#}
{#                                Оплачено#}
{#                            {% else %}#}
{#                                Требует подтверждения#}
{#                            {% endif %}#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </table>#}
{##}
{#        </div>#}
    </div>
</div>
{% endspaceless %}