<div style="height:13px;"></div>
<a href="{% url 'profile' %}" class="column-menu-item {% active 'profile' %}">Профиль</a>
<a href="{% url 'family' %}" class="column-menu-item {% active 'family' %}">Члены семьи</a>
<a href="{% url 'address' %}" class="column-menu-item {% active 'address' %}">Адреса</a>
<a href="{% url 'my_applications' %}" class="column-menu-item {% active 'my_applications' %}">Мои заявки</a>
<a href="{% url 'my_auto' %}" class="column-menu-item {% active 'my_auto' %}">Мои автоплатежи</a>
<div style="color:#999;font-size:14px;margin:20px 0 5px;margin-left:15px;">Настройки</div>
<a href="{% url 'profile_edit' %}" class="column-menu-item {% active 'profile_edit' %}">Профиль</a>
<a href="{% url 'settings' %}" class="column-menu-item {% active 'settings' %}">Аккаунт</a>
<a href="{% url 'cards' %}" class="column-menu-item {% active 'cards' %}">Платёжная информация</a>
<a href="{% url 'notifications' %}" class="column-menu-item {% active 'notifications' %}">Уведомления</a>