                                <div class="fb" style="margin-top:0;">
                                    <div class="f2" style="width:27.0%;margin-right:2.5%;">
                                        <div class="l2">Дата</div>
                                        <div class="i2"></div>
                                    </div>
                                    <div class="f2" style="width:18.5%;margin-right:4%;">
                                        <div class="l2">Время</div>
                                        <div class="i2"></div>
                                    </div>
                                </div>
                                <div class="fb" style="margin-top:0;">
                                    <div class="f2" style="width:48%;">
                                        <div class="l2">Ученик</div>
                                        <div class="s2"><img class="l-avatar" src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg">Константинопольский Константин Константинович</div>
                                    </div>
                                </div>
                                <h4 style="clear:both;margin:0;padding:10px 0 15px;width:450px;"><a href="#" style="text-decoration:none;color:#999;margin-right:10px;"><i class="p-call-create fa fa-chevron-left"></i></a> Параметры последнего занятия</h4>
                                <div class="fb">
                                    <div class="f2" style="width:48%;margin-right:4%;">
                                        <div class="l2">Курс</div>
                                        <div class="s2"></div>
                                    </div>

                                    <div class="f2" style="width:27.0%;margin-right:2.5%;">
                                        <div class="l2">Продолжительность</div>
                                        <div class="s2">Академический час</div>
                                    </div>
                                    <div class="f2" style="width:18.5%;">
                                        <div class="l2">Цена</div>
                                        <div class="i2"></div>
                                    </div>
{#                                  <div class="f2" style="width:48%;"> #}
{#                                      <div class="l2" style="color:#777;">Тема занятия</div> #}
{#                                      <div class="i2"></div> #}
{#                                  </div> #}
                                </div>

                                <!--div style="clear:both;font-size:18px;line-height:18px;padding-top:10px;margin-bottom:5px;">Ученики</div>

                                <div class="fb min-hide">
                                    <div style="padding:5px 10px 0;border:1px solid #ddd;width:45.2%;position:relative;float:left;margin-right:4%;">
                                        <div class="f2" style="width:57.5%;margin-right:5%;">
                                            <div class="l2">Ученик </div>
                                            <div class="s2"><img class="l-avatar" src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg">Петров Ю.В.</div>
                                        </div>
                                        <div class="f2" style="width:37.5%;margin-right:0;">
                                            <div class="l2">Стоимость</div>
                                            <div class="i2"></div>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div style="padding:5px 10px 0;border:1px solid #ddd;width:45.2%;position:relative;float:left;">
                                        <div class="remove">x</div>
                                        <div class="f2" style="width:57.5%;margin-right:5%;">
                                            <div class="l2">Ученик </div>
                                            <div class="s2"><img class="l-avatar" src="http://blog.etailz.com/wp-content/uploads/2013/09/kid-yucky-face.jpg">Петров И.Ю.</div>
                                        </div>
                                        <div class="f2" style="width:37.5%;margin-right:0;">
                                            <div class="l2">Стоимость</div>
                                            <div class="i2"></div>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="fb">
                                    <div style="padding:5px 10px 0;border:1px solid #ddd;width:45.2%;position:relative;float:left;margin-right:4%;">
                                        <div class="remove min-hide">x</div>
                                        <div class="f2" style="width:57.5%;margin-right:5%;">
                                            <div class="l2">Ученик </div>
                                            <div class="s2"><img class="l-avatar" src="http://images3.parentsconnect.com/editorial_images/6/little-girl-using-smartphone-280x280.jpg">Петрова Е.Ю.</div>
                                        </div>
                                        <div class="f2" style="width:37.5%;margin-right:0;">
                                            <div class="l2">Стоимость</div>
                                            <div class="i2"></div>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div style="padding:5px 10px 0;border:1px solid #f1f1f5;background:#f1f1f5;width:45.2%;position:relative;float:left;height:70px;line-height:65px;font-size:20px;text-align:center;color:rgba(0,0,0,0.25);border-radius:2px;">
                                        + Добавить ещё одного ученика
                                    </div>
                                </div-->


{#                                <div class="fb" style="padding-top:20px;float:none;">#}
                                <div class="fb" style="padding-top:5px;float:none;">
                                    <div class="f2" style="width:27.5%;margin-right:2.5%;">
                                        <div class="l2">Где будет проходить обучение</div>
                                        <!--div class="s2" style="line-height:15px;"><img class="l-avatar" src="http://blog.etailz.com/wp-content/uploads/2013/09/kid-yucky-face.jpg" style="margin-left:0;float:left;"><div style="color:#777;font-size:14px;padding-top:5px;">У ученика</div>Иванов И.Ю.</div-->
                                        <div class="s2">У ученика</div>
                                    </div>
                                    <div class="f2" style="width:52%;margin-right:1.5%;">
                                        <div class="l2">Адрес</div>
                                        <div class="s2">г. Москва, Ленинский пр., д. 132/2, стр. 20, кв. 10</div>
                                    </div>
                                    <div class="f2">
                                    <div style="display:inline-block;color:#999;padding:20px 0 0;font-size:15px;height:40px;line-height:40px;">
                                        <span style="width:20px;height:20px;line-height:20px;color:#999;text-align:center;border-radius:10px;font-size:20px;margin-top:10px;"><i class="fa fa-pencil"></i></span>
                                        Редактировать
                                    </div>
                                    </div>
                                </div>

                                <div style="clear:both;border:1px solid #ddd;padding:15px 15px 10px;margin:80px 0 5px;position:relative;" class="min-hide">
                                    <div class="remove">x</div>
                                    {% include 'snippets/address.html' %}

                                    <div style="padding-top:10px;padding-bottom:5px;">
                                        <span class="button" style="margin-right:10px;height:40px;line-height:40px;">Сохранить</span>
                                        <span class="button button-light" style="margin-right:10px;height:40px;line-height:40px;">Отменить</span>
                                    </div>

                                </div>

                                <div class="f2" style="width:48%;">
                                    <div class="l2" style="color:#777;margin-top:10px;">Тема занятия</div>
                                    <div class="i2"></div>
                                </div>

                                <div class="fb" style="padding-top:10px;float:none;">
                                    <div class="l2" style="color:#777">Домашнее задание</div>
                                    <div class="t2" style="height:80px;"></div>
                                </div>

                                <div style="margin-bottom:20px;">
                                    <div class="l2" style="color:#777;clear:both;">Вложения</div>
                                    <span class="button button-light min-hide" style="color:#999;border-radius:2px 0 0 2px;height:40px;line-height:40px;position:relative;padding:0 15px;"><a href="#" style="text-decoration:none;color:#455963;font-size:17px;"><i style="color:#455963;vertical-align:middle;margin:-4px 5px 0 0;" class="fa fa-file-archive-o"></i> Архив          </a></span><!--
                                    --><span class="button button-light min-hide" style="border-radius:0 2px 2px 0;height:40px;line-height:40px;width:40px;color:#fff;padding:0;text-align:center;background:#455963;margin-right:15px;">x</span>

                                    <div style="display:inline-block;color:#7caa75;padding:0;font-size:17px;height:40px;line-height:40px;">
                                        <span style="width:20px;height:20px;line-height:20px;background:#7caa75;color:#fff;text-align:center;border-radius:10px;font-size:20px;margin-top:10px;">+</span>
                                        Загрузить файлы
                                    </div>
                                </div>

            <div style="clear:both;"></div>

            <div class="message message-warning min-hide" style="margin-bottom:0;margin-top:20px;width:100%;margin-left:-20px;padding:15px 20px;border-radius:0;">
                <div style="font-size:16px;">Внимание! Дата занятия назначена задним числом. </div>
                <div style="font-size:16px;">Внимание! Вы изменили адрес занятия. </div>
                <div style="font-size:14px;margin-top:10px;">Потребуется новое подтверждение занятия от учеников: Иванов И.Ю., Иванова А.Ю. <a href="#">Подробнее</a></div>
            </div>

            <div class="p-footer" style="margin-top:0;">
                <span class="button">Сохранить</span>
            </div>
