<div style="padding:10px;margin-bottom:15px;border-radius:2px;" class="p-lesson-call">
    <div style="font-size:20px;line-height:20px;text-decoration:none;">Математика</div>
    <div style="font-size:15px;color:rgba(0,0,0,0.5);">10 Сентября '16, 8:15 – 16:00 (у репетитора)</div>
    <div style="margin-top:10px;">
        <i class="fa fa-map-marker" style="position:relative;top:3px;width:30px;height:30px;line-height:30px;text-align:center;margin-right:5px;color:rgba(0,0,0,0.3);font-size:35px;float:left;"></i>
        <div>
            <div style="font-size:17px;line-height:20px;">г. Москва, м. Юго-западная</div>
            <div style="font-size:15px;line-height:15px;color:rgba(0,0,0,0.5);">Ленинский проспект, дом 132, стр 20, кв. 10</div>
        </div>
    </div>
</div>