        <div class="fb">
            <div class="f2" style="width:48%;margin-right:4%;">
                <div class="l2">Город</div>
                <div class="s2">Москва</div>
            </div>
            <div class="f2" style="width:48%;">
                <div class="l2">Улица</div>
                <div class="i2">Ленинский проспект</div>
            </div>
        </div>

        <div class="fb">
            <div class="f2" style="width:10.5%;margin-right:2%;">
                <div class="l2">Дом</div>
                <div class="i2"></div>
            </div>
            <div class="f2" style="width:10.5%;margin-right:2%;">
                <div class="l2" style="color:#777;">Строение</div>
                <div class="i2"></div>
            </div>
            <div class="f2" style="width:10.5%;margin-right:2%;">
                <div class="l2" style="color:#777;">Корпус</div>
                <div class="i2"></div>
            </div>
            <div class="f2" style="width:10.5%;margin-right:4%;">
                <div class="l2" style="color:#777;">Подъезд</div>
                <div class="i2"></div>
            </div>
            <div class="f2" style="width:10.5%;margin-right:2%;">
                <div class="l2" style="color:#777;">Этаж</div>
                <div class="i2"></div>
            </div>
            <div class="f2" style="width:10.5%;margin-right:2%;">
                <div class="l2" style="color:#777;">Квартира</div>
                <div class="i2"></div>
            </div>
            <div class="f2" style="width:23%;">
                <div class="l2" style="color:#777;">Домофон</div>
                <div class="i2"></div>
            </div>
        </div>

        <div class="fb">
            <div class="f2" style="width:48%;margin-right:4%;">
                <div class="l2" style="color:#777;">Ближайшая станция метро</div>
                <div class="s2">Юго-западная</div>
            </div>
            <div class="f2" style="width:48%;">
                <div class="l2" style="color:#777;">Расстояние до метро</div>
                <div class="i2" style="width:10%;float:left;"></div>
                <div style="width:10%;float:left;line-height:40px;font-size:14px;text-align:center;">мин</div>
                <div class="s2" style="width:68%;float:left;">Общественным транспортом</div>
            </div>
        </div>

        <div style="clear:both;"></div>