{% extends 'nb/home.html' %}

{% block content %}

    <style>

    .ticket-title {margin:5px 0 20px;}

    .ticket-table {width:100%;}
        .ticket-table-left {width:65%;}
            .ticket {border:1px solid #ccc;margin-bottom:15px;}
                .ticket-header {line-height:30px;border-bottom:1px solid #ccc;padding:0 10px;background:#f9f9fb;}
                    .ticket-date {float:right;}
                .ticket-body {white-space:pre-line;padding:10px;}
                .ticket-footer {padding:10px;border-top:1px solid #ccc;background:#f9f9fb;}
                    .ticket-footer a {line-height:20px;}
                        .ticket-footer .fa {color:#999;margin-right:5px;}
            .ticket-form {padding:10px;background:#f9f9fb;border:1px solid #ccc;}
                .ticket-form textarea {margin:10px 0;}
                .ticket-templates {width:100%;}
                    .ticket-templates td:first-child {width:49%;padding-right:2%;}
            .ticket-comment-form {padding:10px;background:#f9f9fb;border:1px solid #ccc;}
                .ticket-comment-form textarea {margin:0 0 10px;}
        .ticket-table-right {width:35%;padding-left:20px;}
            .ticket-form-inline {}
                .ticket-form-inline table {width:100%;}
                    .ticket-form-inline td:last-child {width:1px;padding-left:10px;}
            .ticket-assignee {line-height:15px;margin-bottom:10px;padding:5px;border:1px solid #ccc}
                .ticket-assignee .btn {float:right;}
            .ticket-form-label {margin:10px 0 5px;}
                .ticket-form-label.first {margin-top:0;}
            .ticket-comments {margin-bottom:10px;}

    </style>

    <h3 class="ticket-title"><a href="{% url 'tickets' %}">← Обращения</a> <span class="tip">»</span> Обращение ID 15532 - Online Competition "eMuse"</h3>

    <table class="ticket-table">
        <tr>
            <td class="ticket-table-left">

                <div class="ticket">
                    <div class="ticket-header"><span class="ticket-date">19.10.2014 02:15</span><b>tmessage26593@somemail.ru</b></div>

                    <div class="ticket-body">Почитаешь и поймешь за 32 м
                                             Ни кому не стал отправлять, если бы было непонятно
                                             Руководство что я скинул, про заработок будет еще не долго, в паблике его продают приблизетельно за 543 у.е
                                             http://iiseg.com/occupation.php

                                             Будь Счастлив !
                    </div>
                    <div class="ticket-footer">
                        {% for i in '12' %}
                            <a href="#" target="_blank"><i class="fa fa-paperclip"></i>Программа мероприятия {{ i }}.pdf</a><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="ticket">
                    <div class="ticket-header"><span class="ticket-date">19.10.2014 02:15</span><b>Сотрудников С.С.</b></div>

                    <div class="ticket-body">Почитаешь и поймешь за 32 м
                                             Ни кому не стал отправлять, если бы было непонятно
                                             Руководство что я скинул, про заработок будет еще не долго, в паблике его продают приблизетельно за 543 у.е
                                             http://iiseg.com/occupation.php

                                             Будь Счастлив !
                    </div>
                    <div class="ticket-footer">
                        {% for i in '12' %}
                            <a href="#" target="_blank"><i class="fa fa-paperclip"></i>Программа мероприятия {{ i }}.pdf</a><br>
                        {% endfor %}
                    </div>
                </div>

                <form method="POST" action="." class="ticket-form">

                    <table class="ticket-templates">
                        <tr>
                            <td>
                                <b>Шаблоны по анкетам</b>
                                <select class="form-control">

                                    <option>---</option>

                                    <optgroup label="ОБЩЕЕ ДЛЯ ВСЕХ">
                                        <option>Самый простой ответ</option>
                                    </optgroup>

                                    <optgroup label="Обращения репетиторов - reg@repetit.ru"></optgroup>

                                        <optgroup label="&nbsp; Ответы репетитору">
                                            <option>Спрашивает, как добавить фото</option>
                                            <option>Прислал фото</option>
                                            <option>Прислал изменения</option>
                                            <option>Удаление анкеты</option>
                                            <option>Просит удалить анкету без объяснения причины</option>
                                            <option>Жалуется, что не может войти в личный кабинет</option>
                                            <option>Просит добавить предмет, но не указал нужных данных.</option>
                                            <option>Просит добавить иностранный язык, но не указал данные</option>
                                            <option>Просит удалить фамилию, номер телефона и почту.</option>
                                            <option>Просит перенести анкету на  другой регион</option>
                                            <option>К обращению не прикрепилась анкета (по почте не найти, в письме никаких опознавательных данных нет)</option>
                                        </optgroup>

                                </select>

                            </td>
                            <td>
                                <b>Все шаблоны</b>
                                <select class="form-control">

                                    <option>---</option>

                                    <optgroup label="ОБЩЕЕ ДЛЯ ВСЕХ">
                                        <option>Самый простой ответ</option>
                                    </optgroup>

                                    <optgroup label="Общие обращения - info@repetit.ru"></optgroup>

                                        <optgroup label="&nbsp; Ответы репетитору">
                                            <option>Как изменить данные в анкете</option>
                                            <option>Забыл логин и пароль</option>
                                            <option>Про верификацию</option>
                                            <option>Как зарегистрироваться</option>
                                            <option>Оставляет запросы и нет никакого результата</option>
                                            <option>Спрашивает про коэффициенты</option>
                                        </optgroup>

                                        <optgroup label="&nbsp; Ответы клиенту">
                                            <option>Присылает отзыв (в ответ на наше письмо)</option>
                                            <option>Присылает отзыв (нужна проверка)</option>
                                        </optgroup>

                                    <optgroup label="Обращения по заявкам - order@repetit.ru"></optgroup>

                                        <optgroup label="&nbsp; Ответы репетитору">
                                            <option>Созвонились с клиентом</option>
                                            <option>Просит снять заявку</option>
                                            <option>Не может дозвониться до ученика</option>
                                            <option>Договорился о дате первого занятия</option>
                                            <option>Прислал данные по платежу</option>
                                            <option>Провёл первое занятие</option>
                                            <option>Получил заявку на другом сайте раньше</option>
                                            <option>Как изменить данные в анкете</option>
                                            <option>Забыл логин и пароль</option>
                                            <option>Про верификацию</option>
                                            <option>В разделе Подходящие заявки пусто</option>
                                            <option>Оставляет запросы и нет никакого результата</option>
                                            <option>Спрашивает про коэффициенты</option>
                                        </optgroup>

                                        <optgroup label="&nbsp; Ответы клиенту">
                                            <option>Информация по своей заявке</option>
                                            <option>Прислал другой номер телефона</option>
                                            <option>Присылает отзыв (в ответ на наше письмо)</option>
                                            <option>Присылает отзыв (нужна проверка) </option>
                                        </optgroup>

                                    <optgroup label="Обращения по оплате - bill@repetit.ru"></optgroup>

                                        <optgroup label="&nbsp; Ответы репетитору">
                                            <option>Прислал данные по платежу</option>
                                            <option>Забыл логин и пароль</option>
                                            <option>Про верификацию</option>
                                            <option>Оставляет запросы и нет никакого результата</option>
                                            <option>Спрашивает про коэффициенты</option>
                                        </optgroup>

                                    <optgroup label="Отзывы - opinion@repetit.ru"></optgroup>

                                        <optgroup label="&nbsp; Ответы репетитору">
                                            <option>Присылает отзыв (в ответ на наше письмо)</option>
                                            <option>Присылает отзыв (нужна проверка)</option>
                                        </optgroup>

                                    <optgroup label="Обращения репетиторов - reg@repetit.ru"></optgroup>

                                        <optgroup label="&nbsp; Ответы репетитору">
                                            <option>Спрашивает, как добавить фото</option>
                                            <option>Прислал фото</option>
                                            <option>Прислал изменения</option>
                                            <option>Удаление анкеты</option>
                                            <option>Просит удалить анкету без объяснения причины</option>
                                            <option>Жалуется, что не может войти в личный кабинет</option>
                                            <option>Просит добавить предмет, но не указал нужных данных.</option>
                                            <option>Просит добавить иностранный язык, но не указал данные</option>
                                            <option>Просит удалить фамилию, номер телефона и почту.</option>
                                            <option>Просит перенести анкету на  другой регион</option>
                                            <option>К обращению не прикрепилась анкета (по почте не найти, в письме никаких опознавательных данных нет)</option>
                                        </optgroup>

                                </select>

                            </td>
                        </tr>
                    </table>

                    <textarea class="form-control"></textarea>

                    <button type="submit" class="btn btn-primary btn-sm">Отправить письмо</button>

                </form>
            </td>
            <td class="ticket-table-right">

                <div class="ticket-form-label first"><b>Статус обращения</b></div>

                <form class="ticket-form ticket-form-inline">
                    <table>
                        <tr>
                            <td>
                                <select class="form-control">
                                    <option>Новое</option>
                                    <option>В работе</option>
                                    <option>Закрыто</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary" type="submit">Изменить статус</button>
                            </td>
                        </tr>
                    </table>
                </form>

                <div class="ticket-form-label"><b>Сотрудники</b></div>

                {% for i in '12' %}
                    <div class="ticket-assignee">
                        <button class="btn btn-sm btn-default">✕</button>
                        Иванова И.И.
                        <div class="tip">Главный регистратор</div>
                    </div>
                {% endfor %}

                <form method="POST" action="." class="ticket-form-inline">
                    <table>
                        <tr>
                            <td>
                                <select class="form-control">
                                    <option>Все сотрудники</option>
                                    <optgroup label="Общие обращения - info@repetit.ru">
                                        <option>Иванов И.И.</option>
                                        <option>Иванов И.И.</option>
                                        <option>Иванов И.И.</option>
                                    </optgroup>
                                    <optgroup label="Обращения по заявкам - order@repetit.ru">
                                        <option>Иванов И.И.</option>
                                        <option>Иванов И.И.</option>
                                        <option>Иванов И.И.</option>
                                    </optgroup>
                                    <optgroup label="Обращения по оплате - bill@repetit.ru">
                                        <option>Иванов И.И.</option>
                                        <option>Иванов И.И.</option>
                                        <option>Иванов И.И.</option>
                                    </optgroup>
                                    <optgroup label="Отзывы - opinion@repetit.ru">
                                        <option>Иванов И.И.</option>
                                        <option>Иванов И.И.</option>
                                        <option>Иванов И.И.</option>
                                    </optgroup>
                                    <optgroup label="Обращения репетиторов - reg@repetit.ru">
                                        <option>Иванов И.И.</option>
                                        <option>Иванов И.И.</option>
                                        <option>Иванов И.И.</option>
                                    </optgroup>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary" type="submit">Добавить сотрудника</button>
                            </td>
                        </tr>
                    </table>
                </form>

                <div class="ticket-form-label"><b>Репетиторы</b></div>
                <div><a href="#" target="_blank">421234 - Иванов Иван Иванович</a></div>
                <div><a href="#" target="_blank">423138 - Иванов Иван Иванович</a></div>

                <div class="ticket-form-label"><b>Заявки</b></div>
                <div><a href="#" target="_blank">421234 - История</a></div>
                <div><a href="#" target="_blank">421234 - Обществознание</a></div>

                <div class="ticket-form-label"><b>Комментарии</b></div>

                <div class="ticket-comments">
                    15.06.2016 18:42 Константин Петрофф - Комментарий<br>
                    15.06.2016 18:42 Константин Петрофф - Ещё 1 комментарий<br>
                </div>

                <form method="POST" action="." class="ticket-comment-form">

                    <textarea class="form-control"></textarea>

                    <button type="submit" class="btn btn-primary btn-sm">Добавить комментарий</button>

                </form>

            </td>
        </tr>
    </table>

    <!-- ПРОТОТИПНЫЙ МУСОР -->
    <style>.top-wrapper, .top-wrapper-placeholder {display:none;}</style>
    <!-- КОНЕЦ ПРОТОТИПНОГО МУСОРА -->

{% endblock %}