{% extends 'home.html' %}

{% block left %}{% endblock %}

{% block headline %}
    {% spaceless %}
        <div class="title">
            <div class="wrapper" style="position:relative;">
                <a href="#" class="p-call-create back" style="margin-right:0;margin-top:15px;float:right;background:#3b99d8;color:#fff;width:200px;">+ Создать занятие</a>
                <div style="padding-top:20px;">
                    <a href="{% url 'dashboard4' %}" class="title-button back {% active 'dashboard4' %}" style="border-radius:2px 0 0 2px;">Список</a>
                    <a href="{% url 'dashboard2' %}" class="title-button back {% active 'dashboard2' %}" style="border-radius:0;">Неделя</a>
                    <a href="{% url 'dashboard3' %}" class="title-button back {% active 'dashboard3' %}" style="border-radius:0 2px 2px 0;">Месяц</a>
                    <span style="text-align:center;margin-left:-120px;position:absolute;left:50%;top:20px;">
                        <span class="fa fa-angle-left"  style="cursor:pointer;width:40px;height:40px;line-height:40px;background:#e4e4ea;color:#343d46;margin-top:-5px;border-radius:2px;text-align:center;"></span>
                        <span style="font-size:18px;padding:0 10px;line-height:30px;">12 – 17 сен 2015</span>
                        <span class="fa fa-angle-right" style="cursor:pointer;width:40px;height:40px;line-height:40px;background:#e4e4ea;color:#343d46;margin-top:-5px;border-radius:2px;text-align:center;"></span>
                    </span>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block content %}
    {% spaceless %}

            <style>
                .lessons-table {font-size:14px;border-collapse:collapse;width:100%;}
                .lessons-table td, .lessons-table th {border-bottom:1px solid #fff;padding:10px 15px;text-align:left;}
                .lessons-table th {padding:0 10px 10px;border-bottom:1px solid #ddd;}
                .lessons-table td {cursor:pointer;border:1px solid #fff;background:#f1f1f5;}
                .lessons-table .status-ok td {background:#DAE8F9;}
                .lessons-table .status-bad td {background:#F9DADA;}
                .lessons-table .status-good td {background:#DAF9DB;}

                .w-student td           {padding:5px 5px 5px 10px;margin:5px 0;font-size:15px;line-height:30px;border-radius:2px;background:#fff !important;border:1px solid #ddd;position:relative;}
                .w-student-create       {padding:5px 5px 5px 10px;margin:5px 0;font-size:15px;line-height:30px;border-radius:2px;color:#777;background:#e4e4ea !important;border:1px solid #e4e4ea;position:relative;}
                .w-student-create:hover {background:#f1f1f5 !important;border-color:#f1f1f5 !important;}
                .w-student:hover        {background:#f1f1f5 !important;}

                .w-student      td:first-child:after {content:'';position:absolute;left:-1px;top:-1px;height:42px;background:#e1e1e5;width:5px;border-radius:2px 0 0 2px;}
                .w-student.ok   td:first-child:after {background:#5DAC78;}
                .w-student.good td:first-child:after {background:#3b99d8;}
                .w-student.bad  td:first-child:after {background:#C15757;}

            </style>

            <table class="lessons-table weekdays">
                <tr>
                    <th>Дата и время</th>
                    <th>Ученик</th>
                    <th>Предмет</th>
                    <th>Статус</th>
                    <th>Цена</th>
                    <th>Статус оплаты</th>
                </tr>
                {% for i in '1234567890' %}
                    <tr class="w-student {% if i == '3' or i == '5' %}bad{% elif i == '4' %}ok{% elif i == '2' or  i == '8' %}good{% endif %}">
                        <td class="p-call-lesson">10.10.2015 - 10:40</td>
                        <td class="p-call-lesson">
                            <img class="member-avatar" src="http://www.epigami.sg/images/tutor/3761/ashley-chin-tutor-epigami-L.jpg" style="margin:0px 4px 0 -2px;width:30px;height:30px;">
                            Иванов А.Ю
                        </td>
                        <td class="p-call-lesson">Математика</td>
                        <td class="p-call-lesson">Состоялось</td>
                        <td class="p-call-lesson">1 500 р.</td>
                        <td class="p-call-lesson">
                            {% if i == '3' or i == '5' %}
                                Сбой оплаты
                            {% elif i == '4' %}
                                Назначен платёж
                            {% elif i == '2' or i == '8' %}
                                Оплачено
                            {% else %}
                                Требует подтверждения
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

    {% endspaceless %}
{% endblock %}

{% block right %}
    <div style="width:200px;padding-left:10px;" class="td members-list">
        <style>
            .member {display:block;border-bottom:1px solid #ddd;padding:8px;}
            .member:last-child {border-bottom:0;}
            .member:hover {background:#fff;}
                .member-avatar {width:30px;height:30px;}
                .member-name {line-height:30px;font-size:16px;}
                    .member-name .counter {margin-top:5px;}
        </style>
        <div style="border:1px solid #ddd;border-bottom:0;color:#999;font-size:13px;height:31px;line-height:31px;padding:0 10px"><i class="fa fa-search" style="float:right;color:#ccc;margin-top:9px;"></i>Мои ученики</div>
        <div style="border:1px solid #ddd;background:#F8F8FA;overflow-y:scroll;height:0;" class="members-block">
        {% for i in '12345' %}
            <a href="{% url 'dashboard5' %}" class="p-call-dialog member" style="color:#000;font-size:14px;white-space:nowrap;text-decoration:none;">
                <img class="member-avatar" src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg">
                <div class="member-name">Петров Ю.М.</div>
            </a>

            <a href="{% url 'dashboard5' %}" class="p-call-dialog member" style="color:#000;font-size:14px;white-space:nowrap;text-decoration:none;display:block">
                <img class="member-avatar" src="http://blog.etailz.com/wp-content/uploads/2013/09/kid-yucky-face.jpg">
                <div class="member-name">Петров И.Ю.</div>
            </a>

            <a href="{% url 'dashboard5' %}" class="p-call-dialog member" style="color:#000;font-size:14px;white-space:nowrap;text-decoration:none;">
                <img class="member-avatar" src="http://images3.parentsconnect.com/editorial_images/6/little-girl-using-smartphone-280x280.jpg?quality=0.6&height=200&width=200&">
                <div class="member-name"><span class="counter">1</span>Петрова А.И.</div>
            </a>
            <a href="{% url 'dashboard5' %}" class="p-call-dialog member" style="color:#000;font-size:14px;white-space:nowrap;text-decoration:none;">
                <img class="member-avatar" src="http://partycity2.scene7.com/is/image/PartyCity/_ml_p2p_pc_badge_taller15?$_ml_p2p_pc_thumb_taller15$=&$product=PartyCity/451438_full&hei=200&wid=200">
                <div class="member-name">Петров Ю.М.</div>
            </a>

            <a href="{% url 'dashboard5' %}" class="p-call-dialog member" style="color:#000;font-size:14px;white-space:nowrap;text-decoration:none;">
                <img class="member-avatar" src="http://www.epigami.sg/images/tutor/3761/ashley-chin-tutor-epigami-L.jpg">
                <div class="member-name">Петров И.Ю.</div>
            </a>

            <a href="{% url 'dashboard5' %}" class="p-call-dialog member" style="color:#000;font-size:14px;white-space:nowrap;text-decoration:none;">
                <img class="member-avatar" src="http://305hiphop.com/ckfinder/userfiles/images/jacki-o-shoots-goons.jpg">
                <div class="member-name">Петрова А.И.</div>
            </a>
            <a href="{% url 'dashboard5' %}" class="p-call-dialog member" style="color:#000;font-size:14px;white-space:nowrap;text-decoration:none;">
                <img class="member-avatar" src="http://www.joblo.com/newsimages1/cool-videos-django-sam-jackson.jpg">
                <div class="member-name"><span class="counter">2</span>Петров Ю.М.</div>
            </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var lol = $('.all').height() - 240 - 20;
        if (lol > $('.weekdays').height());
{#        $('.weekdays').css('min-height', lol);#}
        $('.members-block').css('height', $('.weekdays').height() - 33);
    </script>
{% endblock %}