{% extends 'home.html' %}

{% block style %}
    <style>
        .lessons {}
            .lesson {border:1px solid #ddd;border-radius:2px;padding:15px;margin-bottom:20px;}
                .lesson-subject {font-size:21px;text-decoration:none;}
                .lesson-theme   {font-size:15px;color:#777;}

                .lesson-title:hover {text-decoration:underline !important;}

                .lesson-tutor {float:right;}
                    .lesson-tutor-avatar {width:35px;height:35px;border-radius:30px;float:left;margin-right:10px;}
                    .lesson-tutor-name   {font-size:18px;line-height:20px;white-space:nowrap;margin-left:45px;}
                    .lesson-tutor-tutor  {font-size:15px;color:#777;margin-left:45px;}

                .lesson-address {margin-top:20px;}
                .lesson-students {margin-top:20px;border-left:1px solid #ddd;padding-left:20px;}
                    .lesson-student {display:inline-block;margin-top:10px;}
                    .lesson-student:first-child {margin-top:0;}

                .lesson-footer {padding:15px;background:#f1f1f5;width:100%;margin:20px 0 -15px -15px;}
                    .lesson-price {}

    </style>
{% endblock %}

{% block left %}{% endblock %}

{% block headline %}
    {% spaceless %}
        <div class="title">
            <div class="wrapper">

                <a href="#" class="p-call-create back" style="margin-right:0;margin-top:15px;float:right;background:#3b99d8;color:#fff;width:200px;">+ Создать занятие</a>

                <span>Занятия</span><a href="#" class="wide" style="font-size:13px;color:#999;margin-left:30px;">Широкий экран</a>

                <div style="position:absolute;left:50%;margin-left:-210px;top:20px;">

                    <a href="{% url 'dashboard_repetitor' %}"   class="title-button back {% active 'dashboard_repetitor' %}">GC-style</a>
                    <a href="{% url 'lessons' %}"   class="title-button back {% active 'lessons'   %}" style="padding:0 10px;width:auto;">М</a>
                    <a href="{% url 'lessons2' %}"   class="title-button back {% active 'lessons2'   %}" style="padding:0 10px;width:auto;">М2</a>
                    <a href="{% url 'lessons3' %}"   class="title-button back {% active 'lessons3'   %}" style="padding:0 10px;width:auto;">М3</a>
                    <a href="{% url 'dashboard' %}" class="title-button back {% active 'dashboard' %}">Неделя</a>

                    <span style="text-align:center;margin-left:20px;">
                        <span class="fa fa-angle-left"  style="cursor:pointer;width:40px;height:40px;line-height:40px;background:#e4e4ea;color:#343d46;margin-top:-5px;border-radius:2px;text-align:center;"></span>
                        <span style="font-size:18px;padding:0 10px;line-height:30px;">Август '15</span>
                        <span class="fa fa-angle-right" style="cursor:pointer;width:40px;height:40px;line-height:40px;background:#e4e4ea;color:#343d46;margin-top:-5px;border-radius:2px;text-align:center;"></span>
                    </span>

                </div>

            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block content %}

    <style>
        .ccc .calendar {table-layout:fixed;width:100%;margin-bottom:20px;}
            .ccc .calendar td, .calendar th {border:1px solid #ddd;text-align:center;height:30px;line-height:30px;position:relative;padding:1px;}
            .ccc .calendar th {color:#999;font-weight:normal;}
            .ccc .calendar td {color:#000 !important;font-weight:normal;}
            .ccc .calendar td:hover {background:#f1f1f5;cursor:pointer;}
            .ccc .calendar-day2 {width:15px;height:27px;line-height:27px;border-radius:15px;color:#000;font-size:13px;}

    .ccc .calendar-count {
        position: absolute;
        top: 1px;
        right: 1px;
        line-height: 20px;
        height: 20px;
        width: 20px;
        text-align: center;
        background: #72c58e;
        color: #fff;
        border-radius: 10px;
        font-size: 12px;
    }
    </style>
    <div class="ccc">
        {% include 'blocks/calendar.html' %}
    </div>

    {% spaceless %}

        <style>
            .lessons-table {font-size:14px;border-collapse:collapse;width:100%;}
            .lessons-table td, .lessons-table th {border-bottom:1px solid #fff;padding:10px 10px;text-align:left;}
            .lessons-table th {padding:10px 10px;}
            .lessons-table td {cursor:pointer;border:1px solid #fff;background:#f1f1f5;opacity:0.7;}
            .lessons-table tr:hover td {opacity:1;}
        </style>

        <table class="lessons-table">
            <tr>
                <th>Дата и время</th>
                <th>Предмет</th>
                <th>Статус</th>
                <th>Ученик</th>
                <th>Цена</th>
                <th>Статус оплаты</th>
            </tr>
            {% for i in '1234567890' %}
                <tr>
                    <td class="p-lesson-call">10.10.2015 - 10:40</td>
                    <td class="p-lesson-call">Математика</td>
                    <td class="p-lesson-call">Состоялось</td>
                    <td class="p-lesson-call">Иванов А.Ю</td>
                    <td class="p-lesson-call">1 500 р.</td>
                    <td class="p-lesson-call" style="background:#DAE8F9;">Назначен платёж</td>
                </tr>
            {% endfor %}
        </table>

    {% endspaceless %}
{% endblock %}

{% block right %}
{% endblock %}

{% block right2 %}
    <div style="width:200px;padding-left:20px;" class="td members-list">

        <div class="member">
            <img class="member-avatar" src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg">
            <div class="member-name">Петров Ю.М.</div>
        </div>

        <div class="member active">
            <img class="member-avatar" src="http://blog.etailz.com/wp-content/uploads/2013/09/kid-yucky-face.jpg">
            <div class="member-name">Петров И.Ю.</div>
        </div>

        <div class="member">
            <img class="member-avatar" src="http://images3.parentsconnect.com/editorial_images/6/little-girl-using-smartphone-280x280.jpg?quality=0.6&height=200&width=200&">
            <div class="member-name">Петрова А.И.</div>
        </div>
        <div class="member">
            <img class="member-avatar" src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg">
            <div class="member-name">Петров Ю.М.</div>
        </div>

        <div class="member">
            <img class="member-avatar" src="http://blog.etailz.com/wp-content/uploads/2013/09/kid-yucky-face.jpg">
            <div class="member-name">Петров И.Ю.</div>
        </div>

        <div class="member">
            <img class="member-avatar" src="http://images3.parentsconnect.com/editorial_images/6/little-girl-using-smartphone-280x280.jpg?quality=0.6&height=200&width=200&">
            <div class="member-name">Петрова А.И.</div>
        </div>
        <div class="member">
            <img class="member-avatar" src="https://pbs.twimg.com/profile_images/536059871050100736/yGe_N7Te.jpeg">
            <div class="member-name">Петров Ю.М.</div>
        </div>

        <div class="member">
            <img class="member-avatar" src="http://blog.etailz.com/wp-content/uploads/2013/09/kid-yucky-face.jpg">
            <div class="member-name">Петров И.Ю.</div>
        </div>

        <div class="member">
            <img class="member-avatar" src="http://images3.parentsconnect.com/editorial_images/6/little-girl-using-smartphone-280x280.jpg?quality=0.6&height=200&width=200&">
            <div class="member-name">Петрова А.И.</div>
        </div>

    </div>
{% endblock %}