<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>MegaFormLab</title>
    <style>
        .button:hover {box-shadow: inset 0 100px 0 rgba(0,0,0,0.1)}
        .button:active {box-shadow: inset 0 100px 0 rgba(0,0,0,0.2)}
        a:hover {text-decoration:none;}
    </style>
</head>
<body style="background:#f1f1f7;font-family:verdana;margin:0;">
    <div style="width:800px;padding:20px;margin:0 auto;text-align:center;background:#fff;margin-top:20px;">
    <h1 style="font-size:50px;line-height:75px;margin:0 0 20px;">MegaFormLab Inc.</h1>
    <a class="button" style="padding:20px 0;font-size:30px;text-align:center;background:#39d;color:#fff;text-decoration:none;display:block;border-radius:2px;margin-bottom:20px;" href="{% url 'back' %}">Back Office</a><!--
 --><a class="button" style="padding:20px 0;font-size:30px;text-align:center;background:#39d;color:#fff;text-decoration:none;display:block;border-radius:2px;margin-bottom:20px;" href="{% url 'rp' %}">Request Process</a><!--
 --><a class="button" style="padding:20px 0;font-size:30px;text-align:center;background:#39d;color:#fff;text-decoration:none;display:block;border-radius:2px;margin-bottom:20px;" href="{% url 'home' %}">Repetitx</a>
        <img src="https://49.media.tumblr.com/bd63d7e4d0da9feb643d1545c6e914be/tumblr_mf56unff2P1rokdg6o1_500.gif">
        <a target="_blank" style="margin-top:20px;font-size:20px;display:inline-block;color:#39d;" href="https://github.com/MaxKoroteev/megaformlab">https://github.com/MaxKoroteev/megaformlab</a>
    </div>
</body>
</html>