
<div><input type="checkbox"> ЕГЭ</div>
<div><input type="checkbox"> ОГЭ (ГИА)</div>
<div><input type="checkbox"> TOEFL</div>
<div><input type="checkbox"> бизнес-курс</div>
<div><input type="checkbox"> FCE</div>
<div><input type="checkbox"> CAE</div>
<div><input type="checkbox"> CPE</div>
<div><input type="checkbox"> IELTS</div>
<div><input type="checkbox"> GMAT</div>
<div><input type="checkbox"> BEC</div>
<div><input type="checkbox"> PET</div>
<div><input type="checkbox"> KET</div>
<div><input type="checkbox"> TKT</div>
<div><input type="checkbox"> ZDaF</div>
<div><input type="checkbox"> ZMP</div>
<div><input type="checkbox"> Goethe-Zertifikat C2</div>
<div><input type="checkbox"> KDS</div>
<div><input type="checkbox"> DALF</div>
<div><input type="checkbox"> CELI</div>
<div><input type="checkbox"> CILS</div>
<div><input type="checkbox"> D.E.L.E.</div>
<div><input type="checkbox"> HSK</div>
<div><input type="checkbox"> сертификат Нихонго норёку сикэн</div>
<div><input type="checkbox"> подготовка к поступлению в муз. уч. заведения</div>
<div><input type="checkbox"> английский для малышей</div>
<div><input type="checkbox"> SAT</div>
<div><input type="checkbox"> абитуриенты</div>
<div><input type="checkbox"> TCF</div>
<div><input type="checkbox"> TEF</div>
<div><input type="checkbox"> TOEIC</div>
<div><input type="checkbox"> DELF</div>
<div><input type="checkbox"> TestDAF</div>
<div><input type="checkbox"> YLE</div>
<div><input type="checkbox"> TEFAQ</div>
<div><input type="checkbox"> ESOL Pitman</div>
<div><input type="checkbox"> ТЭУ</div>
<div><input type="checkbox"> ТРКИ</div>
<div><input type="checkbox"> GRE</div>
<div><input type="checkbox"> DSD</div>
<div><input type="checkbox"> DSH</div>
<div><input type="checkbox"> A-Level</div>
<div><input type="checkbox"> ILEC</div>
<div><input type="checkbox"> немецкий для малышей</div>
<div><input type="checkbox"> подготовка к олимпиадам</div>
<div><input type="checkbox"> Школа России</div>
<div><input type="checkbox"> Перспектива</div>
<div><input type="checkbox"> Начальная школа XXI века</div>
<div><input type="checkbox"> Гармония</div>
<div><input type="checkbox"> Перспективная начальная школа</div>
<div><input type="checkbox"> Планета знаний</div>
<div><input type="checkbox"> Система Д.Б.Эльконина-В.В.Давыдова</div>
<div><input type="checkbox"> РИТМ</div>
<div><input type="checkbox"> Начальная инновационная школа</div>
<div><input type="checkbox"> Школа 2100</div>
<div><input type="checkbox"> Система Л.В. Занкова</div>
<div><input type="checkbox"> Школа 2000 (Л.Г.Петерсон)</div>
