<select class="additions" multiple="multiple" style="width:auto;visibility:hidden;">
	<option selected="selected" value="1">ЕГЭ</option>
	<option value="2">ОГЭ (ГИА)</option>
	<option value="3">TOEFL</option>
	<option value="4">бизнес-курс</option>
	<option value="5">FCE</option>
	<option value="6">CAE</option>
	<option value="7">CPE</option>
	<option value="8">IELTS</option>
	<option value="9">GMAT</option>
	<option value="10">BEC</option>
	<option value="11">PET</option>
	<option value="12">KET</option>
	<option value="13">TKT</option>
	<option value="14">ZDaF</option>
	<option value="15">ZMP</option>
	<option value="16">Goethe-Zertifikat C2</option>
	<option value="17">KDS</option>
	<option value="18">DALF</option>
	<option value="19">CELI</option>
	<option value="20">CILS</option>
	<option value="21">D.E.L.E.</option>
	<option value="22">HSK</option>
	<option value="23">сертификат Нихонго норёку сикэн</option>
	<option value="24">подготовка к поступлению в муз. уч. заведения</option>
	<option value="25">английский для малышей</option>
	<option value="26">SAT</option>
	<option value="27">абитуриенты</option>
	<option value="28">TCF</option>
	<option value="29">TEF</option>
	<option value="30">TOEIC</option>
	<option value="31">DELF</option>
	<option value="32">TestDAF</option>
	<option value="33">YLE</option>
	<option value="34">TEFAQ</option>
	<option value="35">ESOL Pitman</option>
	<option value="36">ТЭУ</option>
	<option value="37">ТРКИ</option>
	<option value="38">GRE</option>
	<option value="39">DSD</option>
	<option value="40">DSH</option>
	<option value="41">A-Level</option>
	<option value="42">ILEC</option>
	<option value="44">немецкий для малышей</option>
	<option value="45">подготовка к олимпиадам</option>
	<option value="46">Школа России</option>
	<option value="47">Перспектива</option>
	<option value="48">Начальная школа XXI века</option>
	<option value="49">Гармония</option>
	<option value="50">Перспективная начальная школа</option>
	<option value="51">Планета знаний</option>
	<option value="52">Система Д.Б.Эльконина-В.В.Давыдова</option>
	<option value="53">РИТМ</option>
	<option value="54">Начальная инновационная школа</option>
	<option value="55">Школа 2100</option>
	<option value="56">Система Л.В. Занкова</option>
	<option value="57">Школа 2000 (Л.Г.Петерсон)</option>
</select>