
<div><input type="checkbox">Общий</div>
<div><input type="checkbox">математический анализ</div>
<div><input type="checkbox">теория вероятностей</div>
<div><input type="checkbox">арабский язык</div>
<div><input type="checkbox">албанский язык</div>
<div><input type="checkbox">армянский язык</div>
<div><input type="checkbox">болгарский язык</div>
<div><input type="checkbox">венгерский язык</div>
<div><input type="checkbox">голландский язык</div>
<div><input type="checkbox">греческий язык</div>
<div><input type="checkbox">грузинский язык</div>
<div><input type="checkbox">датский язык</div>
<div><input type="checkbox">иврит</div>
<div><input type="checkbox">корейский язык</div>
<div><input type="checkbox">латынь</div>
<div><input type="checkbox">норвежский язык</div>
<div><input type="checkbox">польский язык</div>
<div><input type="checkbox">португальский язык</div>
<div><input type="checkbox">сербский язык</div>
<div><input type="checkbox">татарский язык</div>
<div><input type="checkbox">турецкий язык</div>
<div><input type="checkbox">урду</div>
<div><input type="checkbox">финский язык</div>
<div><input type="checkbox">хинди</div>
<div><input type="checkbox">чешский язык</div>
<div><input type="checkbox">шведский язык</div>
<div><input type="checkbox">фортепиано</div>
<div><input type="checkbox">гитара</div>
<div><input type="checkbox">баян</div>
<div><input type="checkbox">аккордеон</div>
<div><input type="checkbox">гармонь</div>
<div><input type="checkbox">барабаны</div>
<div><input type="checkbox">бубны</div>
<div><input type="checkbox">кларнет</div>
<div><input type="checkbox">фагот</div>
<div><input type="checkbox">гобой</div>
<div><input type="checkbox">саксофон</div>
<div><input type="checkbox">флейта</div>
<div><input type="checkbox">труба</div>
<div><input type="checkbox">тромбон</div>
<div><input type="checkbox">валторна</div>
<div><input type="checkbox">скрипка</div>
<div><input type="checkbox">альт</div>
<div><input type="checkbox">виолончель</div>
<div><input type="checkbox">контрабас</div>
<div><input type="checkbox">арфа</div>
<div><input type="checkbox">балалайка</div>
<div><input type="checkbox">домра</div>
<div><input type="checkbox">гусли</div>
<div><input type="checkbox">орган</div>
<div><input type="checkbox">вокал</div>
<div><input type="checkbox">сольфеджио</div>
<div><input type="checkbox">теория музыки</div>
<div><input type="checkbox">гармония</div>
<div><input type="checkbox">скульптура</div>
<div><input type="checkbox">живопись</div>
<div><input type="checkbox">графика</div>
<div><input type="checkbox">рисунок</div>
<div><input type="checkbox">фотоискусство</div>
<div><input type="checkbox">декоративно-прикладное искусство</div>
<div><input type="checkbox">микроэкономика</div>
<div><input type="checkbox">макроэкономика</div>
<div><input type="checkbox">pascal</div>
<div><input type="checkbox">python</div>
<div><input type="checkbox">visual basic</div>
<div><input type="checkbox">C</div>
<div><input type="checkbox">c++</div>
<div><input type="checkbox">php</div>
<div><input type="checkbox">java</div>
<div><input type="checkbox">delphi</div>
<div><input type="checkbox">теоретическая механика</div>
<div><input type="checkbox">сопромат</div>
<div><input type="checkbox">математи логика</div>
<div><input type="checkbox">эконометрика</div>
<div><input type="checkbox">дизартрия</div>
<div><input type="checkbox">дислалия</div>
<div><input type="checkbox">ринолалия</div>
<div><input type="checkbox">высшая математика</div>
<div><input type="checkbox">психология</div>
<div><input type="checkbox">линейная алгебра</div>
<div><input type="checkbox">c#</div>
<div><input type="checkbox">старославянский язык</div>
<div><input type="checkbox">санскрит</div>
<div><input type="checkbox">литовский язык</div>
<div><input type="checkbox">физическая химия</div>
<div><input type="checkbox">коллоидная химия</div>
<div><input type="checkbox">электрохимия</div>
<div><input type="checkbox">биоорганическая химия</div>
<div><input type="checkbox">бионеорганическая химия</div>
<div><input type="checkbox">биохимия</div>
<div><input type="checkbox">гистология</div>
<div><input type="checkbox">микробиология</div>
<div><input type="checkbox">анатомия</div>
<div><input type="checkbox">композиция (художественная)</div>
<div><input type="checkbox">basic</div>
<div><input type="checkbox">дисграфия</div>
<div><input type="checkbox">дисфония</div>
<div><input type="checkbox">брадилалия</div>
<div><input type="checkbox">тахилалия</div>
<div><input type="checkbox">заикание</div>
<div><input type="checkbox">алалия</div>
<div><input type="checkbox">афазия</div>
<div><input type="checkbox">дислексия</div>
<div><input type="checkbox">чтение</div>
<div><input type="checkbox">математика</div>
<div><input type="checkbox">развитие речи</div>
<div><input type="checkbox">развитие познавательных процессов</div>
<div><input type="checkbox">письмо</div>
<div><input type="checkbox">иероглифика</div>
<div><input type="checkbox">язык-посредник: английский</div>
<div><input type="checkbox">MS Office</div>
<div><input type="checkbox">теория электрических цепей</div>
<div><input type="checkbox">теоретические основы электротехники</div>
<div><input type="checkbox">конструктивный рисунок</div>
<div><input type="checkbox">черчение</div>
<div><input type="checkbox">начертательная геометрия</div>
<div><input type="checkbox">дифференциальная геометрия</div>
<div><input type="checkbox">аналитическая геометрия</div>
<div><input type="checkbox">математическая физика</div>
<div><input type="checkbox">дифференциальные уравнения</div>
<div><input type="checkbox">менеджмент</div>
<div><input type="checkbox">маркетинг</div>
<div><input type="checkbox">экономическая теория</div>
<div><input type="checkbox">политэкономия</div>
<div><input type="checkbox">международные экономические отношения</div>
<div><input type="checkbox">конструирование из бумаги</div>
<div><input type="checkbox">физическая культура</div>
<div><input type="checkbox">мировая художественная культура</div>
<div><input type="checkbox">3dMAX</div>
<div><input type="checkbox">ArchiCad</div>
<div><input type="checkbox">Photoshop</div>
<div><input type="checkbox">язык-посредник: испанский</div>
<div><input type="checkbox">педагогика</div>
<div><input type="checkbox">математическая статистика</div>
<div><input type="checkbox">язык-посредник: любой</div>
<div><input type="checkbox">язык-посредник: немецкий</div>
<div><input type="checkbox">язык-посредник: французский</div>
<div><input type="checkbox">политология</div>
<div><input type="checkbox">философия</div>
<div><input type="checkbox">социология</div>
<div><input type="checkbox">экология</div>
<div><input type="checkbox">дефектолог</div>
<div><input type="checkbox">хореография</div>
<div><input type="checkbox">синтезатор</div>
<div><input type="checkbox">правоведение</div>
<div><input type="checkbox">искусствоведение</div>
<div><input type="checkbox">теория государства и права</div>
<div><input type="checkbox">нейропсихолог</div>
<div><input type="checkbox">линейная геометрия</div>
<div><input type="checkbox">дискретная математика</div>
<div><input type="checkbox">топология</div>
<div><input type="checkbox">функциональный анализ</div>
<div><input type="checkbox">интегральные уравнения</div>
<div><input type="checkbox">теория чисел</div>
<div><input type="checkbox">дизорфография</div>
<div><input type="checkbox">журналистика</div>
<div><input type="checkbox">стилистика</div>
<div><input type="checkbox">украинский язык</div>
<div><input type="checkbox">религиоведение</div>
<div><input type="checkbox">молекулярная биология</div>
<div><input type="checkbox">ритмика (ритмическая гимнастика)</div>
<div><input type="checkbox">древнегреческий язык</div>
<div><input type="checkbox">assembler</div>
<div><input type="checkbox">органическая химия</div>
<div><input type="checkbox">неорганическая химия</div>
<div><input type="checkbox">аналитическая химия</div>
<div><input type="checkbox">языкознание</div>
<div><input type="checkbox">портрет</div>
<div><input type="checkbox">пейзаж</div>
<div><input type="checkbox">язык-посредник: китайский</div>
<div><input type="checkbox">язык-посредник: польский</div>
<div><input type="checkbox">векторный анализ</div>
<div><input type="checkbox">ТФКП</div>
<div><input type="checkbox">тензорный анализ</div>
<div><input type="checkbox">бухучет</div>
<div><input type="checkbox">бумажная пластика</div>
<div><input type="checkbox">юриспруденция</div>
<div><input type="checkbox">гражданское право</div>
<div><input type="checkbox">конституционное право</div>
<div><input type="checkbox">математика</div>
<div><input type="checkbox">генетика</div>
<div><input type="checkbox">язык-посредник: турецкий</div>
<div><input type="checkbox">чтение</div>
<div><input type="checkbox">письмо</div>
<div><input type="checkbox">русский язык</div>
<div><input type="checkbox">естествознание</div>
<div><input type="checkbox">церковнославянский язык</div>
<div><input type="checkbox">батик</div>
<div><input type="checkbox">механика</div>
<div><input type="checkbox">строительная механика</div>
<div><input type="checkbox">риторика</div>
<div><input type="checkbox">музыкальная литература</div>
<div><input type="checkbox">реклама</div>
<div><input type="checkbox">пиар</div>
<div><input type="checkbox">актерское мастерство</div>
<div><input type="checkbox">сценическая речь</div>
<div><input type="checkbox">постановка голоса</div>
<div><input type="checkbox">парикмахерское дело</div>
<div><input type="checkbox">культурология</div>
<div><input type="checkbox">финансы</div>
<div><input type="checkbox">инвестиционный анализ</div>
<div><input type="checkbox">статистика</div>
<div><input type="checkbox">мелкая моторика</div>
<div><input type="checkbox">режиссура</div>
<div><input type="checkbox">история искусств</div>
<div><input type="checkbox">роспись по дереву</div>
<div><input type="checkbox">роспись по металлу</div>
<div><input type="checkbox">миниатюрная живопись</div>
<div><input type="checkbox">налогообложение</div>
<div><input type="checkbox">история экономики</div>
<div><input type="checkbox">банковское дело</div>
<div><input type="checkbox">ораторское искусство</div>
<div><input type="checkbox">крой и шитье</div>
<div><input type="checkbox">культура речи</div>
<div><input type="checkbox">логика</div>
<div><input type="checkbox">словацкий язык</div>
<div><input type="checkbox">язык-посредник: португальский</div>
<div><input type="checkbox">древнерусский язык</div>
<div><input type="checkbox">окружающий мир</div>
<div><input type="checkbox">блокфлейта</div>
<div><input type="checkbox">танцы</div>
<div><input type="checkbox">лепка</div>
<div><input type="checkbox">древнеанглийский язык</div>
<div><input type="checkbox">история русской поэзии</div>
<div><input type="checkbox">язык-посредник: японский</div>
<div><input type="checkbox">финансовая математика</div>
<div><input type="checkbox">уравнения в частных производных</div>
<div><input type="checkbox">электрогитара</div>
<div><input type="checkbox">счет</div>
<div><input type="checkbox">аппликация</div>
<div><input type="checkbox">вязание крючком</div>
<div><input type="checkbox">язык-посредник: арабский</div>
<div><input type="checkbox">шахматы</div>
<div><input type="checkbox">fortran</div>
<div><input type="checkbox">геометрическая оптика</div>
<div><input type="checkbox">волновая оптика</div>
<div><input type="checkbox">теплота</div>
<div><input type="checkbox">электричество</div>
<div><input type="checkbox">теория относительности</div>
<div><input type="checkbox">квантовая механика</div>
<div><input type="checkbox">актуарная математика</div>
<div><input type="checkbox">постановка голоса</div>
<div><input type="checkbox">биотехнология</div>
<div><input type="checkbox">химическая технология</div>
<div><input type="checkbox">обучение грамоте</div>
<div><input type="checkbox">теория графов</div>
<div><input type="checkbox">комбинаторика</div>
<div><input type="checkbox">линейное программирование</div>
<div><input type="checkbox">логоневроз</div>
<div><input type="checkbox">Illustrator</div>
<div><input type="checkbox">инженерная графика</div>
<div><input type="checkbox">морфология животных</div>
<div><input type="checkbox">цитология</div>
<div><input type="checkbox">эмбриология</div>
<div><input type="checkbox">астрономия</div>
<div><input type="checkbox">язык-посредник: хорватский</div>
<div><input type="checkbox">язык-посредник: сербский</div>
<div><input type="checkbox">HTML</div>
<div><input type="checkbox">хорватский язык</div>
<div><input type="checkbox">компьютерная графика</div>
<div><input type="checkbox">персидский язык</div>
<div><input type="checkbox">язык-посредник: болгарский</div>
<div><input type="checkbox">язык-посредник: венгерский</div>
<div><input type="checkbox">академический рисунок</div>
<div><input type="checkbox">техника речи</div>
<div><input type="checkbox">бизнес-тренер</div>
<div><input type="checkbox">макияж</div>
<div><input type="checkbox">вьетнамский язык</div>
<div><input type="checkbox">полиграфия</div>
<div><input type="checkbox">азербайджанский язык</div>
<div><input type="checkbox">румынский язык</div>
<div><input type="checkbox">математические модели</div>
<div><input type="checkbox">психодиагностика</div>
<div><input type="checkbox">АФХД</div>
<div><input type="checkbox">дизайнер-верстальщик</div>
<div><input type="checkbox">рынок ценных бумаг</div>
<div><input type="checkbox">InDesign</div>
<div><input type="checkbox">CorelDraw</div>
<div><input type="checkbox">аудит</div>
<div><input type="checkbox">1С</div>
<div><input type="checkbox">финансовый анализ</div>
<div><input type="checkbox">аварский язык</div>
<div><input type="checkbox">бас-гитара</div>
<div><input type="checkbox">роспись по стеклу</div>
<div><input type="checkbox">квиллинг</div>
<div><input type="checkbox">декупаж</div>
<div><input type="checkbox">конструирование</div>
<div><input type="checkbox">плавание</div>
<div><input type="checkbox">резьба по дереву</div>
<div><input type="checkbox">MySQL</div>
<div><input type="checkbox">linux</div>
<div><input type="checkbox">язык-посредник: шведский</div>
<div><input type="checkbox">TurboPascal</div>
<div><input type="checkbox">css</div>
<div><input type="checkbox">аэрография</div>
<div><input type="checkbox">акварель</div>
<div><input type="checkbox">perl</div>
<div><input type="checkbox">xml</div>
<div><input type="checkbox">композиция</div>
<div><input type="checkbox">цветоведение</div>
<div><input type="checkbox">роспись по ткани</div>
<div><input type="checkbox">эстонский язык</div>
<div><input type="checkbox">РЕФАЛ</div>
<div><input type="checkbox">LISP</div>
<div><input type="checkbox">Objective-C</div>
<div><input type="checkbox">AutoCAD</div>
<div><input type="checkbox">физика твердого тела</div>
<div><input type="checkbox">объемное моделирование</div>
<div><input type="checkbox">логоритмика</div>
<div><input type="checkbox">аутизм</div>
<div><input type="checkbox">проектирование</div>
<div><input type="checkbox">ОНР</div>
<div><input type="checkbox">ФФН (фонетико-фонематическое недоразвитие)</div>
<div><input type="checkbox">логопедический массаж</div>
<div><input type="checkbox">история мировой культуры</div>
<div><input type="checkbox">пластическая анатомия</div>
<div><input type="checkbox">колористика</div>
<div><input type="checkbox">акустическая гитара</div>
<div><input type="checkbox">радиационная химия</div>
<div><input type="checkbox">ядерная химия</div>
<div><input type="checkbox">ЗРР</div>
<div><input type="checkbox">все школьные предметы</div>
<div><input type="checkbox">топографическая анатомия</div>
<div><input type="checkbox">римское право</div>
<div><input type="checkbox">фармакологическая химия</div>
<div><input type="checkbox">диагностика (обследование)</div>
<div><input type="checkbox">макростатистика</div>
<div><input type="checkbox">ботаника</div>
<div><input type="checkbox">зоология</div>
<div><input type="checkbox">физиология</div>
<div><input type="checkbox">прикладная математика</div>
<div><input type="checkbox">тайский язык</div>
<div><input type="checkbox">JavaScript</div>
<div><input type="checkbox">язык жестов</div>
<div><input type="checkbox">SQL</div>
<div><input type="checkbox">язык-посредник: грузинский</div>
<div><input type="checkbox">боевые искусства</div>
<div><input type="checkbox">дирижирование</div>
<div><input type="checkbox">тригоном-ия</div>
<div><input type="checkbox">уравнения математической физики</div>
<div><input type="checkbox">численные методы</div>
<div><input type="checkbox">теория приближений</div>
<div><input type="checkbox">теория оптимизации</div>
<div><input type="checkbox">ОНР при ЗПР</div>
<div><input type="checkbox">нотная грамота</div>
<div><input type="checkbox">язык-посредник: азербайджанский</div>
<div><input type="checkbox">природоведение</div>
<div><input type="checkbox">природопользование</div>
<div><input type="checkbox">электромеханика</div>
<div><input type="checkbox">релейная защита и автоматика</div>
<div><input type="checkbox">иконопись</div>
<div><input type="checkbox">эйдетика</div>
<div><input type="checkbox">каллиграфия</div>
<div><input type="checkbox">дизайн</div>
<div><input type="checkbox">аниме</div>
<div><input type="checkbox">иллюстрация</div>
<div><input type="checkbox">FireBird</div>
<div><input type="checkbox">консультации психолога</div>
<div><input type="checkbox">дети с ЗПР</div>
<div><input type="checkbox">йога</div>
<div><input type="checkbox">развитие речи</div>
<div><input type="checkbox">термодинамика</div>
<div><input type="checkbox">механика жидкости и газа</div>
<div><input type="checkbox">экономика предприятия</div>
<div><input type="checkbox">майолика</div>
<div><input type="checkbox">развитие речи</div>
<div><input type="checkbox">гиперактивные дети</div>
<div><input type="checkbox">ЛГНР</div>
<div><input type="checkbox">свирель</div>
<div><input type="checkbox">фондовые рынки</div>
<div><input type="checkbox">фитнес-инструктор</div>
<div><input type="checkbox">аранжировка</div>
<div><input type="checkbox">Matlab</div>
<div><input type="checkbox">патологическая физиология</div>
<div><input type="checkbox">топографическая хирургия</div>
<div><input type="checkbox">язык-посредник: корейский</div>
<div><input type="checkbox">анимация</div>
<div><input type="checkbox">уголовное право</div>
<div><input type="checkbox">семейное право</div>
<div><input type="checkbox">жилищное право</div>
<div><input type="checkbox">документоведение</div>
<div><input type="checkbox">делопроизводство</div>
<div><input type="checkbox">язык-посредник: армянский</div>
<div><input type="checkbox">.школьный курс</div>
<div><input type="checkbox">.общий курс</div>
<div><input type="checkbox">общая подготовка</div>
<div><input type="checkbox">велоспорт</div>
<div><input type="checkbox">медицинские дисциплины</div>
<div><input type="checkbox">информатика</div>
<div><input type="checkbox">Windows</div>
<div><input type="checkbox">Unix</div>
<div><input type="checkbox">SEO (search engine optimization)</div>
<div><input type="checkbox">казахский язык</div>
<div><input type="checkbox">натюрморт</div>
<div><input type="checkbox">химическая термодинамика</div>
<div><input type="checkbox">химическая кинетика</div>
<div><input type="checkbox">гетерогенный катализ</div>
<div><input type="checkbox">мыловарение</div>
<div><input type="checkbox">кулинария</div>
<div><input type="checkbox">этикет</div>
<div><input type="checkbox">имидж</div>
<div><input type="checkbox">физиогномика</div>
<div><input type="checkbox">хоровое дирижирование</div>
<div><input type="checkbox">большой теннис</div>
<div><input type="checkbox">язык-посредник: иврит</div>
<div><input type="checkbox">импровизация</div>
<div><input type="checkbox">дети с ЗПР</div>
<div><input type="checkbox">все предметы</div>
<div><input type="checkbox">Access</div>
<div><input type="checkbox">белорусский</div>
<div><input type="checkbox">ИЗО</div>
<div><input type="checkbox">динамика</div>
<div><input type="checkbox">статика</div>
<div><input type="checkbox">ядерная физика</div>
<div><input type="checkbox">атомная физика</div>
<div><input type="checkbox">кинематика</div>
<div><input type="checkbox">релятивистская механика</div>
<div><input type="checkbox">физиология растений</div>
<div><input type="checkbox">оптика</div>
<div><input type="checkbox">магнетизм</div>
<div><input type="checkbox">опционы</div>
<div><input type="checkbox">MathCAD</div>
<div><input type="checkbox">хиимия окружающей среды</div>
<div><input type="checkbox">MacOS</div>
<div><input type="checkbox">VBA</div>
<div><input type="checkbox">системное недоразвитие речи при ИН</div>
<div><input type="checkbox">история музыки</div>
<div><input type="checkbox">скорочтение</div>
<div><input type="checkbox">нетканый гобелен</div>
<div><input type="checkbox">ручное ткачество</div>
<div><input type="checkbox">ударные инструменты</div>
<div><input type="checkbox">управление персоналом</div>
<div><input type="checkbox">витраж</div>
<div><input type="checkbox">язык-посредник: осетинский</div>
<div><input type="checkbox">язык-посредник: таджикский</div>
<div><input type="checkbox">язык-посредник: узбекский</div>
<div><input type="checkbox">чеченский язык</div>
<div><input type="checkbox">уроки вождения</div>
<div><input type="checkbox">стенография</div>
<div><input type="checkbox">машинопись</div>
<div><input type="checkbox">пилатес</div>
<div><input type="checkbox">гимнастика</div>
<div><input type="checkbox">стретчинг</div>
<div><input type="checkbox">свадебный танец</div>
<div><input type="checkbox">ФНР (фонематическое недоразвитие речи)</div>
<div><input type="checkbox">постановка звуков</div>
<div><input type="checkbox">видеомонтаж</div>
<div><input type="checkbox">ритмика</div>
<div><input type="checkbox">экономическая статистика</div>
<div><input type="checkbox">радиолокация</div>
<div><input type="checkbox">разработка веб-сайтов</div>
<div><input type="checkbox">дизайн веб-сайтов</div>
<div><input type="checkbox">развитие внимания</div>
<div><input type="checkbox">модельная школа</div>
<div><input type="checkbox">операционные системы</div>
<div><input type="checkbox">деловое администрирование</div>
<div><input type="checkbox">стратегический менеджмент</div>
<div><input type="checkbox">Object Pascal</div>
<div><input type="checkbox">богословие</div>
<div><input type="checkbox">институциональная экономика</div>
<div><input type="checkbox">отраслевые рынки</div>
<div><input type="checkbox">тестопластика</div>
<div><input type="checkbox">иудаизм</div>
<div><input type="checkbox">идиш</div>
<div><input type="checkbox">коммерческое право</div>
<div><input type="checkbox">алгоритмы</div>
<div><input type="checkbox">лепка</div>
<div><input type="checkbox">рисование</div>
<div><input type="checkbox">народный вокал</div>
<div><input type="checkbox">криминалистика</div>
<div><input type="checkbox">Joomla</div>
<div><input type="checkbox">Wordpress</div>
<div><input type="checkbox">суахили</div>
<div><input type="checkbox">язык хауса</div>
<div><input type="checkbox">язык-посредник: вьетнамский</div>
<div><input type="checkbox">Москвоведение</div>
<div><input type="checkbox">фармакология</div>
<div><input type="checkbox">тьютор</div>
<div><input type="checkbox">тьютор</div>
<div><input type="checkbox">язык-посредник: итальянский</div>
<div><input type="checkbox">ЗПРР</div>
<div><input type="checkbox">окружающий мир</div>
<div><input type="checkbox">мозаика</div>
<div><input type="checkbox">плетение из бисера</div>
<div><input type="checkbox">эстетика</div>
<div><input type="checkbox">латышский язык</div>
<div><input type="checkbox">кредит</div>
<div><input type="checkbox">финансовый учет</div>
<div><input type="checkbox">МСФО</div>
<div><input type="checkbox">управленческий учет</div>
<div><input type="checkbox">построение сетевых моделей</div>
<div><input type="checkbox">оптимизация сетевых моделей</div>
<div><input type="checkbox">каллиграфия</div>
<div><input type="checkbox">.вузовский курс</div>
<div><input type="checkbox">фигурное катание</div>
<div><input type="checkbox">сурдопедагогика</div>
<div><input type="checkbox">стертая дизартрия</div>
<div><input type="checkbox">.вузовский курс</div>
<div><input type="checkbox">Adobe Photoshop</div>
<div><input type="checkbox">.вузовский курс</div>
<div><input type="checkbox">коллаж</div>
<div><input type="checkbox">на английском языке</div>
<div><input type="checkbox">на английском языке</div>
<div><input type="checkbox">все нарушения речи</div>
<div><input type="checkbox">.вузовский курс</div>
<div><input type="checkbox">на английском языке</div>
<div><input type="checkbox">язык-посредник: персидский</div>
<div><input type="checkbox">Word</div>
<div><input type="checkbox">Excel</div>
<div><input type="checkbox">PowerPoint</div>
<div><input type="checkbox">Outlook</div>
<div><input type="checkbox">Internet</div>
<div><input type="checkbox">алгебра логики</div>
<div><input type="checkbox">вычислимые функции</div>
<div><input type="checkbox">ruby</div>
<div><input type="checkbox">bash</div>
<div><input type="checkbox">теория игр</div>
<div><input type="checkbox">вариационное исчисление</div>
<div><input type="checkbox">оптимальное управление</div>
<div><input type="checkbox">выпуклое программирование</div>
<div><input type="checkbox">методы оптимизации</div>
<div><input type="checkbox">финансовый менеджмент</div>
<div><input type="checkbox">язык-посредник: греческий</div>
<div><input type="checkbox">.вузовский курс</div>
<div><input type="checkbox">компьютерная грамотность</div>
<div><input type="checkbox">системное администрирование</div>
<div><input type="checkbox">художественные материалы</div>
<div><input type="checkbox">аутичные дети</div>
<div><input type="checkbox">гиперактивные дети</div>
<div><input type="checkbox">аутичные дети</div>
<div><input type="checkbox">горные лыжи</div>
<div><input type="checkbox">QBasic</div>
<div><input type="checkbox">Borland C</div>
<div><input type="checkbox">Каталонский язык</div>
<div><input type="checkbox">таджикский язык</div>
<div><input type="checkbox">язык-посредник: македонский</div>
<div><input type="checkbox">рояль</div>
<div><input type="checkbox">язык-посредник: монгольский</div>
<div><input type="checkbox">язык-посредник: хинди</div>
<div><input type="checkbox">язык-посредник: финский</div>
<div><input type="checkbox">словенский язык</div>
<div><input type="checkbox">фехтование</div>
<div><input type="checkbox">VB Pro</div>
<div><input type="checkbox">ирландский язык</div>
<div><input type="checkbox">роспись керамики</div>
<div><input type="checkbox">AutoCAD</div>
<div><input type="checkbox">теория ПДД</div>
<div><input type="checkbox">бокс</div>
<div><input type="checkbox">фольклор</div>
<div><input type="checkbox">анимация</div>
<div><input type="checkbox">программирование</div>
<div><input type="checkbox">химия твердого тела</div>
<div><input type="checkbox">основы православной культуры</div>
<div><input type="checkbox">детали машин</div>
<div><input type="checkbox">право</div>
<div><input type="checkbox">кристаллохимия</div>
<div><input type="checkbox">.вузовский курс</div>
<div><input type="checkbox">тибетский классический</div>
<div><input type="checkbox">.вузовский курс</div>
<div><input type="checkbox">.вузовский курс</div>
<div><input type="checkbox">тифлопедагог</div>
<div><input type="checkbox">электротехника</div>
<div><input type="checkbox">основы электроники</div>
<div><input type="checkbox">язык-посредник: чешский</div>
<div><input type="checkbox">мандолина</div>
<div><input type="checkbox">Adobe Flash</div>
<div><input type="checkbox">логистика</div>
<div><input type="checkbox">связи с общественностью</div>
<div><input type="checkbox">полифония</div>
<div><input type="checkbox">SolidWorks</div>
<div><input type="checkbox">Maple</div>
<div><input type="checkbox">ксилофон</div>
<div><input type="checkbox">краеведение</div>
<div><input type="checkbox">самооборона</div>
<div><input type="checkbox">балет</div>
<div><input type="checkbox">древнееврейский язык</div>
<div><input type="checkbox">t-sql</div>
<div><input type="checkbox">робототехника</div>
<div><input type="checkbox">сценарное дело</div>
<div><input type="checkbox">маркшейдерия</div>
<div><input type="checkbox">геодезия</div>
<div><input type="checkbox">международное частное право</div>
<div><input type="checkbox">геология</div>
<div><input type="checkbox">монгольский язык</div>
<div><input type="checkbox">эстрадный вокал</div>
<div><input type="checkbox">академический вокал</div>
<div><input type="checkbox">вязание на спицах</div>
<div><input type="checkbox">трудовое право</div>
<div><input type="checkbox">шашки</div>
<div><input type="checkbox">писательское мастерство</div>
<div><input type="checkbox">покер</div>
<div><input type="checkbox">Deform-3D</div>
<div><input type="checkbox">теория машин и механизмов</div>
<div><input type="checkbox">футбол</div>
<div><input type="checkbox">фотодело</div>
<div><input type="checkbox">ландшафтный дизайн</div>
<div><input type="checkbox">корнет</div>
<div><input type="checkbox">фарси</div>
<div><input type="checkbox">информационные технологии в экономике и управлении</div>
<div><input type="checkbox">сноуборд</div>
<div><input type="checkbox">баскетбол</div>
<div><input type="checkbox">рукопашный бой</div>
<div><input type="checkbox">вышивание</div>
<div><input type="checkbox">автомоделирование</div>
<div><input type="checkbox">жонглирование</div>
<div><input type="checkbox">спортивная акробатика</div>
<div><input type="checkbox">айкидо</div>
<div><input type="checkbox">гавайская гитара</div>
<div><input type="checkbox">легкая атлетика</div>
<div><input type="checkbox">астрология</div>
<div><input type="checkbox">линейное программирование</div>
<div><input type="checkbox">ЛФК</div>
<div><input type="checkbox">дизайн интерьера</div>
<div><input type="checkbox">раннее развитие</div>
<div><input type="checkbox">мандолина</div>
<div><input type="checkbox">звукорежиссура</div>
<div><input type="checkbox">алгебра</div>
<div><input type="checkbox">геометрия</div>
<div><input type="checkbox">гомеопатия</div>
<div><input type="checkbox">молекулярная физика</div>
<div><input type="checkbox">криптология</div>
<div><input type="checkbox">акробатика</div>
<div><input type="checkbox">архивоведение</div>
<div><input type="checkbox">настольный теннис</div>
<div><input type="checkbox">бильярд</div>
<div><input type="checkbox">новогреческий язык</div>
<div><input type="checkbox">ОБЖ</div>
<div><input type="checkbox">бенгальский язык</div>
<div><input type="checkbox">цигун</div>
<div><input type="checkbox">волейбол</div>
<div><input type="checkbox">ФД (фонетический дефект)</div>
<div><input type="checkbox">арт-терапия</div>
<div><input type="checkbox">марийский язык</div>
<div><input type="checkbox">судовождение</div>
<div><input type="checkbox">методы оптимальных решений</div>
<div><input type="checkbox">конный спорт</div>
<div><input type="checkbox">губная гармоника</div>
<div><input type="checkbox">арамейский язык</div>
<div><input type="checkbox">узбекский язык</div>
<div><input type="checkbox">непальский язык</div>