<select class="divisions" multiple="multiple" style="width:auto;visibility:hidden;">
	<option value="0">Общий</option>
	<option value="3">математический анализ</option>
	<option selected="selected" value="4">теория вероятностей</option>
	<option value="5">арабский язык</option>
	<option value="6">албанский язык</option>
	<option value="7">армянский язык</option>
	<option value="8">болгарский язык</option>
	<option value="9">венгерский язык</option>
	<option value="10">голландский язык</option>
	<option value="11">греческий язык</option>
	<option value="12">грузинский язык</option>
	<option value="13">датский язык</option>
	<option value="14">иврит</option>
	<option value="15">корейский язык</option>
	<option value="16">латынь</option>
	<option value="17">норвежский язык</option>
	<option value="19">польский язык</option>
	<option value="20">португальский язык</option>
	<option value="21">сербский язык</option>
	<option value="22">татарский язык</option>
	<option value="23">турецкий язык</option>
	<option value="24">урду</option>
	<option value="25">финский язык</option>
	<option value="26">хинди</option>
	<option value="27">чешский язык</option>
	<option value="28">шведский язык</option>
	<option value="29">фортепиано</option>
	<option value="30">гитара</option>
	<option value="31">баян</option>
	<option value="32">аккордеон</option>
	<option value="33">гармонь</option>
	<option value="34">барабаны</option>
	<option value="35">бубны</option>
	<option value="36">кларнет</option>
	<option value="37">фагот</option>
	<option value="38">гобой</option>
	<option value="39">саксофон</option>
	<option value="40">флейта</option>
	<option value="41">труба</option>
	<option value="42">тромбон</option>
	<option value="43">валторна</option>
	<option value="44">скрипка</option>
	<option value="45">альт</option>
	<option value="46">виолончель</option>
	<option value="47">контрабас</option>
	<option value="48">арфа</option>
	<option value="49">балалайка</option>
	<option value="50">домра</option>
	<option value="51">гусли</option>
	<option value="52">орган</option>
	<option value="54">вокал</option>
	<option value="55">сольфеджио</option>
	<option value="56">теория музыки</option>
	<option value="57">гармония</option>
	<option value="58">скульптура</option>
	<option value="59">живопись</option>
	<option value="60">графика</option>
	<option value="61">рисунок</option>
	<option value="62">фотоискусство</option>
	<option value="64">декоративно-прикладное искусство</option>
	<option value="66">микроэкономика</option>
	<option value="67">макроэкономика</option>
	<option value="68">pascal</option>
	<option value="69">python</option>
	<option value="70">visual basic</option>
	<option value="71">C</option>
	<option value="72">c++</option>
	<option value="73">php</option>
	<option value="74">java</option>
	<option value="75">delphi</option>
	<option value="76">теоретическая механика</option>
	<option value="77">сопромат</option>
	<option value="79">математи логика</option>
	<option value="81">эконометрика</option>
	<option value="87">дизартрия</option>
	<option value="88">дислалия</option>
	<option value="89">ринолалия</option>
	<option value="91">высшая математика</option>
	<option value="92">психология</option>
	<option value="93">линейная алгебра</option>
	<option value="96">c#</option>
	<option value="99">старославянский язык</option>
	<option value="100">санскрит</option>
	<option value="101">литовский язык</option>
	<option value="102">физическая химия</option>
	<option value="103">коллоидная химия</option>
	<option value="104">электрохимия</option>
	<option value="105">биоорганическая химия</option>
	<option value="106">бионеорганическая химия</option>
	<option value="107">биохимия</option>
	<option value="108">гистология</option>
	<option value="109">микробиология</option>
	<option value="110">анатомия</option>
	<option value="111">композиция (художественная)</option>
	<option value="112">basic</option>
	<option value="113">дисграфия</option>
	<option value="114">дисфония</option>
	<option value="115">брадилалия</option>
	<option value="116">тахилалия</option>
	<option value="117">заикание</option>
	<option value="118">алалия</option>
	<option value="119">афазия</option>
	<option value="120">дислексия</option>
	<option value="121">чтение</option>
	<option value="122">математика</option>
	<option value="123">развитие речи</option>
	<option value="124">развитие познавательных процессов</option>
	<option value="125">письмо</option>
	<option value="126">иероглифика</option>
	<option value="127">язык-посредник: английский</option>
	<option value="128">MS Office</option>
	<option value="129">теория электрических цепей</option>
	<option value="130">теоретические основы электротехники</option>
	<option value="131">конструктивный рисунок</option>
	<option value="132">черчение</option>
	<option value="133">начертательная геометрия</option>
	<option value="134">дифференциальная геометрия</option>
	<option value="135">аналитическая геометрия</option>
	<option value="136">математическая физика</option>
	<option value="137">дифференциальные уравнения</option>
	<option value="139">менеджмент</option>
	<option value="140">маркетинг</option>
	<option value="141">экономическая теория</option>
	<option value="142">политэкономия</option>
	<option value="143">международные экономические отношения</option>
	<option value="144">конструирование из бумаги</option>
	<option value="145">физическая культура</option>
	<option value="146">мировая художественная культура</option>
	<option value="147">3dMAX</option>
	<option value="148">ArchiCad</option>
	<option value="149">Photoshop</option>
	<option value="150">язык-посредник: испанский</option>
	<option value="151">педагогика</option>
	<option value="152">математическая статистика</option>
	<option value="153">язык-посредник: любой</option>
	<option value="154">язык-посредник: немецкий</option>
	<option value="155">язык-посредник: французский</option>
	<option value="156">политология</option>
	<option value="157">философия</option>
	<option value="158">социология</option>
	<option value="159">экология</option>
	<option value="160">дефектолог</option>
	<option value="161">хореография</option>
	<option value="162">синтезатор</option>
	<option value="163">правоведение</option>
	<option value="164">искусствоведение</option>
	<option value="165">теория государства и права</option>
	<option value="166">нейропсихолог</option>
	<option value="169">линейная геометрия</option>
	<option value="170">дискретная математика</option>
	<option value="171">топология</option>
	<option value="172">функциональный анализ</option>
	<option value="173">интегральные уравнения</option>
	<option value="174">теория чисел</option>
	<option value="175">дизорфография</option>
	<option value="176">журналистика</option>
	<option value="177">стилистика</option>
	<option value="178">украинский язык</option>
	<option value="179">религиоведение</option>
	<option value="180">молекулярная биология</option>
	<option value="181">ритмика (ритмическая гимнастика)</option>
	<option value="183">древнегреческий язык</option>
	<option value="184">assembler</option>
	<option value="185">органическая химия</option>
	<option value="186">неорганическая химия</option>
	<option value="187">аналитическая химия</option>
	<option value="188">языкознание</option>
	<option value="189">портрет</option>
	<option value="190">пейзаж</option>
	<option value="191">язык-посредник: китайский</option>
	<option value="192">язык-посредник: польский</option>
	<option value="193">векторный анализ</option>
	<option value="194">ТФКП</option>
	<option value="195">тензорный анализ</option>
	<option value="196">бухучет</option>
	<option value="197">бумажная пластика</option>
	<option value="198">юриспруденция</option>
	<option value="199">гражданское право</option>
	<option value="200">конституционное право</option>
	<option value="201">математика</option>
	<option value="202">генетика</option>
	<option value="203">язык-посредник: турецкий</option>
	<option value="204">чтение</option>
	<option value="205">письмо</option>
	<option value="206">русский язык</option>
	<option value="207">естествознание</option>
	<option value="208">церковнославянский язык</option>
	<option value="209">батик</option>
	<option value="210">механика</option>
	<option value="211">строительная механика</option>
	<option value="212">риторика</option>
	<option value="213">музыкальная литература</option>
	<option value="216">реклама</option>
	<option value="217">пиар</option>
	<option value="218">актерское мастерство</option>
	<option value="219">сценическая речь</option>
	<option value="220">постановка голоса</option>
	<option value="221">парикмахерское дело</option>
	<option value="222">культурология</option>
	<option value="223">финансы</option>
	<option value="224">инвестиционный анализ</option>
	<option value="225">статистика</option>
	<option value="226">мелкая моторика</option>
	<option value="227">режиссура</option>
	<option value="228">история искусств</option>
	<option value="229">роспись по дереву</option>
	<option value="230">роспись по металлу</option>
	<option value="231">миниатюрная живопись</option>
	<option value="232">налогообложение</option>
	<option value="233">история экономики</option>
	<option value="234">банковское дело</option>
	<option value="235">ораторское искусство</option>
	<option value="236">крой и шитье</option>
	<option value="237">культура речи</option>
	<option value="238">логика</option>
	<option value="239">словацкий язык</option>
	<option value="240">язык-посредник: португальский</option>
	<option value="241">древнерусский язык</option>
	<option value="243">окружающий мир</option>
	<option value="244">блокфлейта</option>
	<option value="245">танцы</option>
	<option value="246">лепка</option>
	<option value="247">древнеанглийский язык</option>
	<option value="248">история русской поэзии</option>
	<option value="249">язык-посредник: японский</option>
	<option value="250">финансовая математика</option>
	<option value="251">уравнения в частных производных</option>
	<option value="252">электрогитара</option>
	<option value="253">счет</option>
	<option value="254">аппликация</option>
	<option value="255">вязание крючком</option>
	<option value="256">язык-посредник: арабский</option>
	<option value="257">шахматы</option>
	<option value="258">fortran</option>
	<option value="259">геометрическая оптика</option>
	<option value="260">волновая оптика</option>
	<option value="261">теплота</option>
	<option value="262">электричество</option>
	<option value="263">теория относительности</option>
	<option value="264">квантовая механика</option>
	<option value="265">актуарная математика</option>
	<option value="266">постановка голоса</option>
	<option value="267">биотехнология</option>
	<option value="268">химическая технология</option>
	<option value="269">обучение грамоте</option>
	<option value="270">теория графов</option>
	<option value="271">комбинаторика</option>
	<option value="272">линейное программирование</option>
	<option value="273">логоневроз</option>
	<option value="274">Illustrator</option>
	<option value="275">инженерная графика</option>
	<option value="276">морфология животных</option>
	<option value="277">цитология</option>
	<option value="278">эмбриология</option>
	<option value="279">астрономия</option>
	<option value="280">язык-посредник: хорватский</option>
	<option value="281">язык-посредник: сербский</option>
	<option value="282">HTML</option>
	<option value="283">хорватский язык</option>
	<option value="284">компьютерная графика</option>
	<option value="285">персидский язык</option>
	<option value="286">язык-посредник: болгарский</option>
	<option value="287">язык-посредник: венгерский</option>
	<option value="288">академический рисунок</option>
	<option value="289">техника речи</option>
	<option value="290">бизнес-тренер</option>
	<option value="291">макияж</option>
	<option value="293">вьетнамский язык</option>
	<option value="294">полиграфия</option>
	<option value="295">азербайджанский язык</option>
	<option value="296">румынский язык</option>
	<option value="298">математические модели</option>
	<option value="299">психодиагностика</option>
	<option value="303">АФХД</option>
	<option value="304">дизайнер-верстальщик</option>
	<option value="305">рынок ценных бумаг</option>
	<option value="306">InDesign</option>
	<option value="307">CorelDraw</option>
	<option value="308">аудит</option>
	<option value="309">1С</option>
	<option value="310">финансовый анализ</option>
	<option value="311">аварский язык</option>
	<option value="312">бас-гитара</option>
	<option value="313">роспись по стеклу</option>
	<option value="314">квиллинг</option>
	<option value="315">декупаж</option>
	<option value="316">конструирование</option>
	<option value="317">плавание</option>
	<option value="318">резьба по дереву</option>
	<option value="319">MySQL</option>
	<option value="320">linux</option>
	<option value="321">язык-посредник: шведский</option>
	<option value="322">TurboPascal</option>
	<option value="323">css</option>
	<option value="324">аэрография</option>
	<option value="325">акварель</option>
	<option value="326">perl</option>
	<option value="327">xml</option>
	<option value="328">композиция</option>
	<option value="330">цветоведение</option>
	<option value="331">роспись по ткани</option>
	<option value="332">эстонский язык</option>
	<option value="334">РЕФАЛ</option>
	<option value="335">LISP</option>
	<option value="336">Objective-C</option>
	<option value="337">AutoCAD</option>
	<option value="338">физика твердого тела</option>
	<option value="339">объемное моделирование</option>
	<option value="340">логоритмика</option>
	<option value="341">аутизм</option>
	<option value="343">проектирование</option>
	<option value="344">ОНР</option>
	<option value="345">ФФН (фонетико-фонематическое недоразвитие)</option>
	<option value="346">логопедический массаж</option>
	<option value="347">история мировой культуры</option>
	<option value="348">пластическая анатомия</option>
	<option value="349">колористика</option>
	<option value="350">акустическая гитара</option>
	<option value="352">радиационная химия</option>
	<option value="353">ядерная химия</option>
	<option value="354">ЗРР</option>
	<option value="355">все школьные предметы</option>
	<option value="356">топографическая анатомия</option>
	<option value="357">римское право</option>
	<option value="358">фармакологическая химия</option>
	<option value="359">диагностика (обследование)</option>
	<option value="360">макростатистика</option>
	<option value="361">ботаника</option>
	<option value="362">зоология</option>
	<option value="363">физиология</option>
	<option value="364">прикладная математика</option>
	<option value="365">тайский язык</option>
	<option value="366">JavaScript</option>
	<option value="367">язык жестов</option>
	<option value="368">SQL</option>
	<option value="369">язык-посредник: грузинский</option>
	<option value="370">боевые искусства</option>
	<option value="371">дирижирование</option>
	<option value="372">тригоном-ия</option>
	<option value="373">уравнения математической физики</option>
	<option value="374">численные методы</option>
	<option value="375">теория приближений</option>
	<option value="376">теория оптимизации</option>
	<option value="377">ОНР при ЗПР</option>
	<option value="378">нотная грамота</option>
	<option value="379">язык-посредник: азербайджанский</option>
	<option value="380">природоведение</option>
	<option value="381">природопользование</option>
	<option value="382">электромеханика</option>
	<option value="383">релейная защита и автоматика</option>
	<option value="384">иконопись</option>
	<option value="385">эйдетика</option>
	<option value="386">каллиграфия</option>
	<option value="387">дизайн</option>
	<option value="388">аниме</option>
	<option value="389">иллюстрация</option>
	<option value="390">FireBird</option>
	<option value="391">консультации психолога</option>
	<option value="392">дети с ЗПР</option>
	<option value="393">йога</option>
	<option value="394">развитие речи</option>
	<option value="395">термодинамика</option>
	<option value="396">механика жидкости и газа</option>
	<option value="397">экономика предприятия</option>
	<option value="398">майолика</option>
	<option value="399">развитие речи</option>
	<option value="400">гиперактивные дети</option>
	<option value="401">ЛГНР</option>
	<option value="402">свирель</option>
	<option value="403">фондовые рынки</option>
	<option value="404">фитнес-инструктор</option>
	<option value="405">аранжировка</option>
	<option value="406">Matlab</option>
	<option value="407">патологическая физиология</option>
	<option value="408">топографическая хирургия</option>
	<option value="410">язык-посредник: корейский</option>
	<option value="411">анимация</option>
	<option value="412">уголовное право</option>
	<option value="413">семейное право</option>
	<option value="414">жилищное право</option>
	<option value="415">документоведение</option>
	<option value="416">делопроизводство</option>
	<option value="418">язык-посредник: армянский</option>
	<option value="420">.школьный курс</option>
	<option value="421">.общий курс</option>
	<option value="423">общая подготовка</option>
	<option value="424">велоспорт</option>
	<option value="426">медицинские дисциплины</option>
	<option value="427">информатика</option>
	<option value="428">Windows</option>
	<option value="429">Unix</option>
	<option value="430">SEO (search engine optimization)</option>
	<option value="431">казахский язык</option>
	<option value="432">натюрморт</option>
	<option value="433">химическая термодинамика</option>
	<option value="434">химическая кинетика</option>
	<option value="435">гетерогенный катализ</option>
	<option value="436">мыловарение</option>
	<option value="437">кулинария</option>
	<option value="438">этикет</option>
	<option value="439">имидж</option>
	<option value="440">физиогномика</option>
	<option value="441">хоровое дирижирование</option>
	<option value="442">большой теннис</option>
	<option value="443">язык-посредник: иврит</option>
	<option value="444">импровизация</option>
	<option value="447">дети с ЗПР</option>
	<option value="448">все предметы</option>
	<option value="449">Access</option>
	<option value="450">белорусский</option>
	<option value="451">ИЗО</option>
	<option value="452">динамика</option>
	<option value="453">статика</option>
	<option value="454">ядерная физика</option>
	<option value="455">атомная физика</option>
	<option value="456">кинематика</option>
	<option value="457">релятивистская механика</option>
	<option value="460">физиология растений</option>
	<option value="461">оптика</option>
	<option value="462">магнетизм</option>
	<option value="463">опционы</option>
	<option value="464">MathCAD</option>
	<option value="465">хиимия окружающей среды</option>
	<option value="466">MacOS</option>
	<option value="467">VBA</option>
	<option value="468">системное недоразвитие речи при ИН</option>
	<option value="469">история музыки</option>
	<option value="470">скорочтение</option>
	<option value="471">нетканый гобелен</option>
	<option value="472">ручное ткачество</option>
	<option value="473">ударные инструменты</option>
	<option value="474">управление персоналом</option>
	<option value="475">витраж</option>
	<option value="477">язык-посредник: осетинский</option>
	<option value="478">язык-посредник: таджикский</option>
	<option value="479">язык-посредник: узбекский</option>
	<option value="480">чеченский язык</option>
	<option value="481">уроки вождения</option>
	<option value="482">стенография</option>
	<option value="483">машинопись</option>
	<option value="484">пилатес</option>
	<option value="485">гимнастика</option>
	<option value="486">стретчинг</option>
	<option value="487">свадебный танец</option>
	<option value="488">ФНР (фонематическое недоразвитие речи)</option>
	<option value="489">постановка звуков</option>
	<option value="490">видеомонтаж</option>
	<option value="491">ритмика</option>
	<option value="492">экономическая статистика</option>
	<option value="493">радиолокация</option>
	<option value="494">разработка веб-сайтов</option>
	<option value="495">дизайн веб-сайтов</option>
	<option value="496">развитие внимания</option>
	<option value="497">модельная школа</option>
	<option value="498">операционные системы</option>
	<option value="499">деловое администрирование</option>
	<option value="500">стратегический менеджмент</option>
	<option value="501">Object Pascal</option>
	<option value="502">богословие</option>
	<option value="503">институциональная экономика</option>
	<option value="505">отраслевые рынки</option>
	<option value="506">тестопластика</option>
	<option value="507">иудаизм</option>
	<option value="508">идиш</option>
	<option value="509">коммерческое право</option>
	<option value="510">алгоритмы</option>
	<option value="511">лепка</option>
	<option value="512">рисование</option>
	<option value="514">народный вокал</option>
	<option value="515">криминалистика</option>
	<option value="516">Joomla</option>
	<option value="517">Wordpress</option>
	<option value="518">суахили</option>
	<option value="519">язык хауса</option>
	<option value="520">язык-посредник: вьетнамский</option>
	<option value="521">Москвоведение</option>
	<option value="522">фармакология</option>
	<option value="523">тьютор</option>
	<option value="524">тьютор</option>
	<option value="525">язык-посредник: итальянский</option>
	<option value="527">ЗПРР</option>
	<option value="528">окружающий мир</option>
	<option value="529">мозаика</option>
	<option value="530">плетение из бисера</option>
	<option value="531">эстетика</option>
	<option value="532">латышский язык</option>
	<option value="533">кредит</option>
	<option value="534">финансовый учет</option>
	<option value="535">МСФО</option>
	<option value="536">управленческий учет</option>
	<option value="537">построение сетевых моделей</option>
	<option value="538">оптимизация сетевых моделей</option>
	<option value="540">каллиграфия</option>
	<option value="541">.вузовский курс</option>
	<option value="542">фигурное катание</option>
	<option value="543">сурдопедагогика</option>
	<option value="544">стертая дизартрия</option>
	<option value="545">.вузовский курс</option>
	<option value="546">Adobe Photoshop</option>
	<option value="547">.вузовский курс</option>
	<option value="548">коллаж</option>
	<option value="549">на английском языке</option>
	<option value="550">на английском языке</option>
	<option value="551">все нарушения речи</option>
	<option value="552">.вузовский курс</option>
	<option value="553">на английском языке</option>
	<option value="554">язык-посредник: персидский</option>
	<option value="555">Word</option>
	<option value="556">Excel</option>
	<option value="557">PowerPoint</option>
	<option value="558">Outlook</option>
	<option value="559">Internet</option>
	<option value="561">алгебра логики</option>
	<option value="562">вычислимые функции</option>
	<option value="563">ruby</option>
	<option value="564">bash</option>
	<option value="565">теория игр</option>
	<option value="566">вариационное исчисление</option>
	<option value="567">оптимальное управление</option>
	<option value="568">выпуклое программирование</option>
	<option value="569">методы оптимизации</option>
	<option value="570">финансовый менеджмент</option>
	<option value="571">язык-посредник: греческий</option>
	<option value="573">.вузовский курс</option>
	<option value="574">компьютерная грамотность</option>
	<option value="575">системное администрирование</option>
	<option value="577">художественные материалы</option>
	<option value="578">аутичные дети</option>
	<option value="579">гиперактивные дети</option>
	<option value="580">аутичные дети</option>
	<option value="581">горные лыжи</option>
	<option value="582">QBasic</option>
	<option value="583">Borland C</option>
	<option value="584">Каталонский язык</option>
	<option value="585">таджикский язык</option>
	<option value="586">язык-посредник: македонский</option>
	<option value="587">рояль</option>
	<option value="588">язык-посредник: монгольский</option>
	<option value="589">язык-посредник: хинди</option>
	<option value="590">язык-посредник: финский</option>
	<option value="591">словенский язык</option>
	<option value="592">фехтование</option>
	<option value="593">VB Pro</option>
	<option value="595">ирландский язык</option>
	<option value="596">роспись керамики</option>
	<option value="597">AutoCAD</option>
	<option value="598">теория ПДД</option>
	<option value="599">бокс</option>
	<option value="600">фольклор</option>
	<option value="601">анимация</option>
	<option value="602">программирование</option>
	<option value="603">химия твердого тела</option>
	<option value="604">основы православной культуры</option>
	<option value="606">детали машин</option>
	<option value="607">право</option>
	<option value="608">кристаллохимия</option>
	<option value="611">.вузовский курс</option>
	<option value="612">тибетский классический</option>
	<option value="613">.вузовский курс</option>
	<option value="614">.вузовский курс</option>
	<option value="615">тифлопедагог</option>
	<option value="616">электротехника</option>
	<option value="617">основы электроники</option>
	<option value="618">язык-посредник: чешский</option>
	<option value="619">мандолина</option>
	<option value="620">Adobe Flash</option>
	<option value="621">логистика</option>
	<option value="623">связи с общественностью</option>
	<option value="624">полифония</option>
	<option value="625">SolidWorks</option>
	<option value="626">Maple</option>
	<option value="627">ксилофон</option>
	<option value="628">краеведение</option>
	<option value="629">самооборона</option>
	<option value="630">балет</option>
	<option value="631">древнееврейский язык</option>
	<option value="632">t-sql</option>
	<option value="633">робототехника</option>
	<option value="635">сценарное дело</option>
	<option value="636">маркшейдерия</option>
	<option value="637">геодезия</option>
	<option value="638">международное частное право</option>
	<option value="639">геология</option>
	<option value="641">монгольский язык</option>
	<option value="642">эстрадный вокал</option>
	<option value="643">академический вокал</option>
	<option value="644">вязание на спицах</option>
	<option value="646">трудовое право</option>
	<option value="647">шашки</option>
	<option value="648">писательское мастерство</option>
	<option value="649">покер</option>
	<option value="650">Deform-3D</option>
	<option value="651">теория машин и механизмов</option>
	<option value="652">футбол</option>
	<option value="653">фотодело</option>
	<option value="654">ландшафтный дизайн</option>
	<option value="655">корнет</option>
	<option value="656">фарси</option>
	<option value="657">информационные технологии в экономике и управлении</option>
	<option value="658">сноуборд</option>
	<option value="659">баскетбол</option>
	<option value="660">рукопашный бой</option>
	<option value="661">вышивание</option>
	<option value="662">автомоделирование</option>
	<option value="663">жонглирование</option>
	<option value="664">спортивная акробатика</option>
	<option value="665">айкидо</option>
	<option value="666">гавайская гитара</option>
	<option value="667">легкая атлетика</option>
	<option value="668">астрология</option>
	<option value="669">линейное программирование</option>
	<option value="670">ЛФК</option>
	<option value="671">дизайн интерьера</option>
	<option value="672">раннее развитие</option>
	<option value="673">мандолина</option>
	<option value="674">звукорежиссура</option>
	<option value="675">алгебра</option>
	<option value="676">геометрия</option>
	<option value="677">гомеопатия</option>
	<option value="678">молекулярная физика</option>
	<option value="679">криптология</option>
	<option value="680">акробатика</option>
	<option value="681">архивоведение</option>
	<option value="682">настольный теннис</option>
	<option value="683">бильярд</option>
	<option value="684">новогреческий язык</option>
	<option value="685">ОБЖ</option>
	<option value="686">бенгальский язык</option>
	<option value="687">цигун</option>
	<option value="688">волейбол</option>
	<option value="689">ФД (фонетический дефект)</option>
	<option value="690">арт-терапия</option>
	<option value="691">марийский язык</option>
	<option value="692">судовождение</option>
	<option value="693">методы оптимальных решений</option>
	<option value="694">конный спорт</option>
	<option value="695">губная гармоника</option>
	<option value="696">арамейский язык</option>
	<option value="697">узбекский язык</option>
	<option value="698">непальский язык</option>

</select>