{% extends 'back/home.html' %}

{% block content %}

{#    <h2><a href="{% url 'repetitor' %}">№123 Иванов Иван Иванович</a> и <a href="{% url 'repetitor' %}">№321 Петров Пётр Петрович</a></h2>#}
{##}
{#    <div style="margin-bottom:20px;">#}
{#        <a href="{% url 'duplicates' %}">← Вернуться к списку дублей</a>#}
{#    </div>#}
{##}
{#    <div>#}
{#        <form>#}
{##}
{#            <h3 style="margin-bottom:10px;">Результат сравнения</h3>#}
{##}
{#            <select style="margin-bottom:10px;">#}
{#                <option>Не проверено</option>#}
{#                <option>Не понятно</option>#}
{#                <option>Точно дубль</option>#}
{#                <option>Точно не дубль</option>#}
{#            </select>#}
{##}
{#            <textarea placeholder="Комментарий" style="margin-bottom:0;"></textarea>#}
{##}
{#            <button>Изменить статус</button>#}
{#        </form>#}
{#    </div>#}
{##}
{#    {% spaceless %}#}
{#        <div class="tabs tabs-wide">#}
{##}
{#            <a href="{% url 'compare'         %}" class="tab {% active 'compare'         %}">Анкеты</a>#}
{#            <a href="{% url 'compare_history' %}" class="tab {% active 'compare_history' %}">Истории посещений</a>#}
{##}
{#        </div>#}
{#    {% endspaceless %}#}

    <style>
        .zebra td {vertical-align:middle;}

        .compare-history table {width:50%;margin-top:1px;}
        .compare-history .right {margin-left:50%;}

    </style>

    {% include 'back/b_repetitor.html' %}

    <h2>Похожие анкеты</h2>

    <div style="margin-bottom:20px;">
        <a href="{% url 'repetitor_compares' %}">← Вернуться к списку дублей</a>
    </div>

    <div>

        <form>

            <h3 style="margin-bottom:10px;">Результат сравнения</h3>

            <select style="margin-bottom:10px;">
                <option>Не проверено</option>
                <option>Не понятно</option>
                <option>Точно дубль</option>
                <option>Точно не дубль</option>
            </select>

            <textarea placeholder="Комментарий" style="margin-bottom:0;"></textarea>

            <button>Изменить статус</button>
        </form>

    </div>

    {% spaceless %}
        <div class="tabs tabs-wide">

            <a href="{% url 'repetitor_compare' %}" class="tab {% active 'repetitor_compare' %}">Сравнение анкет</a>
            <a href="{% url 'compare_history'   %}" class="tab {% active 'compare_history'   %}">Истории посещений</a>

        </div>
    {% endspaceless %}

    <table style="width:100%;">
        <tr>
            <td style="width:50%;">
                <img style="height:50px;" src="/media/img/girl_original.jpg">
                Иванова Виктория Павловна - №15
            </td>
            <td>
                <img style="height:50px;" src="http://cllctr.com/image/b4f5c5cbcffa8126a76d45531fe0f9bf/576">
                Петров Пётр Петрович - №321
            </td>
        </tr>
    </table>

    <table style="width:100%;">
    <tr>
        <td>
        <table class="zebra" style="margin-right:1px;">
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>IP address</th>
                <th>Device ID</th>
            </tr>
        </table>
        </td>
        <td>
        <table class="zebra right" style="margin-left:1px;">
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>IP address</th>
                <th>Device ID</th>
            </tr>
        </table>
        </td>
    </tr>
    </table>

    <div class="compare-history">

    {% for i in '123' %}
        <table class="zebra">
        <tr>
            <td style="background:#fff;">20.03.2015</td>
            <td style="background:#fff;">19:06:24</td>
            <td style="background:#fff;">46.138.67.123</td>
            <td style="background:#fff;">520699904.1427393279</td>
        </tr>
        </table>
    {% endfor %}
    {% for i in '4' %}
        <table class="zebra right">
        <tr>
            <td style="background:#f0f0f5;">20.03.2015</td>
            <td style="background:#f0f0f5;">19:06:24</td>
            <td style="background:#f0f0f5;">46.138.67.123</td>
            <td style="background:#f0f0f5;">520699904.1427393279</td>
        </tr>
        </table>
    {% endfor %}
    {% for i in '56' %}
        <table class="zebra">
        <tr>
            <td style="background:#fff;">20.03.2015</td>
            <td style="background:#fff;">19:06:24</td>
            <td style="background:#fff;">46.138.67.123</td>
            <td style="background:#fff;">520699904.1427393279</td>
        </tr>
        </table>
    {% endfor %}
    {% for i in '7' %}
        <table class="zebra right">
        <tr>
            <td style="background:#f0f0f5;">20.03.2015</td>
            <td style="background:#f0f0f5;">19:06:24</td>
            <td style="background:#f0f0f5;">46.138.67.123</td>
            <td style="background:#f0f0f5;">520699904.1427393279</td>
        </tr>
        </table>
    {% endfor %}
    {% for i in '8' %}
        <table class="zebra">
        <tr>
            <td style="background:#fff;">20.03.2015</td>
            <td style="background:#fff;">19:06:24</td>
            <td style="background:#fff;">46.138.67.123</td>
            <td style="background:#fff;">520699904.1427393279</td>
        </tr>
        </table>
    {% endfor %}
    {% for i in '9' %}
        <table class="zebra right">
        <tr>
            <td style="background:#f0f0f5;">20.03.2015</td>
            <td style="background:#f0f0f5;">19:06:24</td>
            <td style="background:#f0f0f5;">46.138.67.123</td>
            <td style="background:#f0f0f5;">520699904.1427393279</td>
        </tr>
        </table>
    {% endfor %}

    </div>

    {% include 'back/b_pagination.html' %}

{% endblock %}