<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

</head>
<body style="background:#f0f0f5;padding:0;margin:0;">

<div style="background:#fff;">
    <span style="vertical-align:top;padding:25px;font-family: 'Varela Round', sans-serif;font-size:35px;line-height:35px;display:inline-block;">matepro</span>
    <span style="vertical-align:top;height:85px;background:#f0f0f5;display:inline-block;width:300px;"></span>
</div>

</body>
</html>