{% extends 'back/home.html' %}

{% block content %}

    <style>

        .compare-table {width:100%;}
            .compare-table > * > tr > td {padding:5px;text-align:right;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
            .compare-table > * > tr > td:first-child {text-align:left;border-left:1px solid #ccc;border-right:1px solid #ccc;width:1px;white-space:nowrap;color:rgba(0,0,0,0.5);}
            .compare-table > * > tr > td:last-child  {text-align:left;border-left:1px solid #999;border-right:1px solid #ccc;}

            .compare-table tr.good td {background:#C4E4C0;}

        .related {padding-right:0 !important;}
            .related-wrapper {height:100%;overflow:auto;font-size:11px;text-align:left;}
                .related-table {width:100%;table-layout:fixed;height:100%;}
                    .related-table td {padding-right:5px;}
                        .related-item {height:100%;background:#f0f0f5;}
                            .related-field {padding:3px;line-height:11px;border-bottom:1px solid #f0f0f5;}
                            .related-field.good {background:#C4E4C0;}

        .button.light.mini:hover {background:#f0f0f5;}

        .history-table .zebra td {background:#fff !important;}
        .history-table .zebra .empty-td td {background:#f0f0f5 !important;}
        .history-table .zebra td.good {background:#C4E4C0 !important;}

    </style>

    {% include 'back/b_repetitor.html' %}

    <h2>Похожие анкеты</h2>

    <div style="margin-bottom:20px;">
        <a href="{% url 'repetitor_compares' %}">← Вернуться к списку дублей</a>
    </div>

{#    {% spaceless %}#}
{#        <div class="tabs tabs-wide">#}
{##}
{#            <a href="{% url 'repetitor_compare' %}" class="tab {% active 'repetitor_compare' %}">Сравнение анкет</a>#}
{#            <a href="{% url 'compare_history'   %}" class="tab {% active 'compare_history'   %}">Истории посещений</a>#}
{##}
{#        </div>#}
{#    {% endspaceless %}#}

    <div>

        <form>

            <h3 style="margin-bottom:10px;">Результат сравнения</h3>

            <select style="margin-bottom:10px;">
                <option>Не проверено</option>
                <option>Не понятно</option>
                <option>Точно дубль</option>
                <option>Точно не дубль</option>
            </select>

            <textarea placeholder="Комментарий" style="margin-bottom:0;"></textarea>

            <button>Изменить статус</button>
        </form>

    </div>

    <table class="compare-table">
        <tr>
            <td>id</td>
            <td>15</td>
            <td>312</td>
        </tr>
        <tr>
            <td>Фото</td>
            <td><img style="height:100px;" src="/media/img/girl_original.jpg"></td>
            <td><img style="height:100px;" src="http://cllctr.com/image/b4f5c5cbcffa8126a76d45531fe0f9bf/576"></td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>Иванова</td>
            <td>Петров</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>Виктория</td>
            <td>Пётр</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>Павловна</td>
            <td>Петрович</td>
        </tr>
        <tr class="good">
            <td>Зона</td>
            <td>Москва и московская область</td>
            <td>Москва и московская область</td>
        </tr>
        <tr>
            <td>Дата рож.</td>
            <td>02.11.1990</td>
            <td>02.11.1980</td>
        </tr>
        <tr>
            <td>Дата рег.</td>
            <td>02.11.2000</td>
            <td>02.12.2000</td>
        </tr>

        <tr>
            <td>Пол</td>
            <td>М</td>
            <td>-</td>
        </tr>
        <tr class="good">
            <td>Реп. стаж</td>
            <td>7</td>
            <td>7</td>
        </tr>
        <tr>
            <td>ИП</td>
            <td>Да</td>
            <td>Нет</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>8 888 888 88 88</td>
            <td>8 999 999 99 99</td>
        </tr>
        <tr>
            <td>e-mail</td>
            <td>sanya@mail.ru</td>
            <td>alex@mail.ru</td>
        </tr>
        <tr class="good">
            <td>Skype</td>
            <td>alex</td>
            <td>alex</td>
        </tr>
        <tr>
            <td>Статус</td>
            <td>Школьный преподаватель<br>Москва<br>Школа №15</td>
            <td>Преподаватель ВУЗа<br>Москва<br>Московский Государственный Университет</td>
        </tr>
        <tr>
            <td>О себе</td>
            <td>Я математику люблю</td>
            <td>А я вафельки люблю</td>
        </tr>

        <!-- Адреса -->

        <tr>
            <td>Адреса</td>
            <td class="related">
                <div class="related-wrapper">
                    <table class="related-table">
                        <tr>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">м. Юго-Западная</div>
                                    <div class="related-field">улица Академика Анохина д.49 корп.3</div>
                                </div>
                            </td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field">м. Ленинский проспект</div>
                                    <div class="related-field">улица Академика Анохина д.9/4</div>
                                </div>
                            </td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field">м. Проспект вернадского</div>
                                    <div class="related-field good">улица Академика Анохина д.6/4</div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </td>
            <td class="related">
                <div class="related-wrapper">
                    <table class="related-table">
                        <tr>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">м. Юго-Западная</div>
                                    <div class="related-field">улица Академика Анохина д.46 корп.3</div>
                                </div>
                            </td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field">м. Университет</div>
                                    <div class="related-field good">улица Академика Анохина д.6/4</div>
                                </div>
                            </td>

                            <td>

                            </td>

                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <!-- Образование -->

        <tr>
            <td>Образование</td>
            <td class="related">
                <div class="related-wrapper">
                    <table class="related-table">
                        <tr>

                            <td>

                            </td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">Российский университет дружбы народов</div>
                                    <div class="related-field good">2013 год</div>
                                    <div class="related-field">гуманитарный факультет</div>
                                    <div class="related-field good">специальность — лингвистика</div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </td>
            <td class="related">
                <div class="related-wrapper">
                    <table class="related-table">
                        <tr>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">Российский университет дружбы народов</div>
                                    <div class="related-field good">2013 год</div>
                                    <div class="related-field">филологический факультет</div>
                                    <div class="related-field good">специальность — лингвистика</div>
                                </div>
                            </td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field">Московский государственный институт международных отношений (университет)</div>
                                    <div class="related-field">2015 год</div>
                                    <div class="related-field">подготовка переводчиков к международным организациям факультет</div>
                                    <div class="related-field">специальность — лингвистика, синхронный перевод</div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <!-- Предметы -->

        <tr>
            <td>Предметы</td>
            <td class="related">
                <div class="related-wrapper">
                    <table class="related-table">
                        <tr>

                            <td></td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">Английский язык</div>
                                    <div class="related-field">школьный курс</div>
                                    <div class="related-field">ЕГЭ</div>
                                    <div class="related-field">школьники 5-9 классов</div>
                                    <div class="related-field">У себя: 800</div>
                                    <div class="related-field">Выезд: 900</div>
                                    <div class="related-field">Удалённо: нет</div>
                                </div>
                            </td>


                            <td>
                                <div class="related-item">
                                    <div class="related-field good">Математика</div>
                                    <div class="related-field good">школьный курс алгебра геометрия</div>
                                    <div class="related-field">ЕГЭ</div>
                                    <div class="related-field good">школьники 5-11 классов</div>
                                    <div class="related-field">У себя: 800</div>
                                    <div class="related-field">Выезд: 900</div>
                                    <div class="related-field good">Удалённо: нет</div>
                                </div>
                            </td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">Физика</div>
                                    <div class="related-field">школьный курс</div>
                                    <div class="related-field">ЕГЭ</div>
                                    <div class="related-field">школьники 5-9 классов</div>
                                    <div class="related-field">У себя: 800</div>
                                    <div class="related-field">Выезд: 900</div>
                                    <div class="related-field">Удалённо: нет</div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </td>
            <td class="related">
                <div class="related-wrapper">
                    <table class="related-table">
                        <tr>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">Английский язык</div>
                                    <div class="related-field">школьный курс</div>
                                    <div class="related-field">ЕГЭ</div>
                                    <div class="related-field">школьники 5-9 классов</div>
                                    <div class="related-field">У себя: 800</div>
                                    <div class="related-field">Выезд: 900</div>
                                    <div class="related-field">Удалённо: нет</div>
                                </div>
                            </td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field">Испанский язык</div>
                                    <div class="related-field">школьный курс</div>
                                    <div class="related-field">ЕГЭ</div>
                                    <div class="related-field">школьники 5-9 классов</div>
                                    <div class="related-field">У себя: 800</div>
                                    <div class="related-field">Выезд: 900</div>
                                    <div class="related-field">Удалённо: нет</div>
                                </div>
                            </td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">Математика</div>
                                    <div class="related-field good">школьный курс алгебра геометрия</div>
                                    <div class="related-field">ОГЭ (ГИА) ЕГЭ</div>
                                    <div class="related-field good">школьники 5-11 классов</div>
                                    <div class="related-field">У себя: 1800</div>
                                    <div class="related-field">Выезд: 1900</div>
                                    <div class="related-field good">Удалённо: нет</div>
                                </div>
                            </td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">Физика</div>
                                    <div class="related-field">школьный курс</div>
                                    <div class="related-field">ЕГЭ</div>
                                    <div class="related-field">школьники 5-9 классов</div>
                                    <div class="related-field">У себя: 800</div>
                                    <div class="related-field">Выезд: 900</div>
                                    <div class="related-field">Удалённо: нет</div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        <!-- Сертификаты -->

        <tr>
            <td>Сертификаты</td>
            <td class="related">
                <div class="related-wrapper">
                    <table class="related-table">
                        <tr>

                            <td>
                                <div class="related-item">
                                    <div class="related-field">
                                        <img style="max-width:100%;" src="https://www.edx.org/sites/all/themes/atedx/images/example-certificate-verified.png">
                                    </div>
                                    <div class="related-field">Грамота</div>
                                </div>
                            </td>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">
                                        <img style="max-width:100%;" src="https://www.edx.org/sites/all/themes/atedx/images/example-certificate-verified.png">
                                    </div>
                                    <div class="related-field good">Сертификат</div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </td>
            <td class="related">
                <div class="related-wrapper">
                    <table class="related-table">
                        <tr>

                            <td>
                                <div class="related-item">
                                    <div class="related-field good">
                                        <img style="max-width:100%;" src="https://www.edx.org/sites/all/themes/atedx/images/example-certificate-verified.png">
                                    </div>
                                    <div class="related-field good">Сертификат</div>
                                </div>
                            </td>

                            <td></td>

                        </tr>
                    </table>
                </div>
            </td>
        </tr>

        {# Начало истории посещений #}

        <tr class="history-table">
            <td>История посещений</td>
            <td class="related" style="padding-right:5px !important;">
                <div class="related-wrapper">

                    <table class="zebra">
                        <tr>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>IP address</th>
                            <th>Device ID</th>
                        </tr>
                        <tr>
                            <td>20.03.2015</td>
                            <td>19:06:24</td>
                            <td>46.138.67.123</td>
                            <td class="good">520699904.1427393230</td>
                        </tr>
                        {% for i in '123' %}
                        <tr class="empty-td">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>20.03.2015</td>
                            <td>19:06:24</td>
                            <td class="good">46.138.67.150</td>
                            <td>520699904.1427393279</td>
                        </tr>
                        <tr>
                            <td>20.03.2015</td>
                            <td>19:06:24</td>
                            <td>46.138.67.123</td>
                            <td>520699904.1427393279</td>
                        </tr>
                        {% for i in '12' %}
                        <tr class="empty-td">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </td>
            <td class="related" style="padding-right:5px !important;">
                <div class="related-wrapper">

                    <table class="zebra">
                        <tr>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>IP address</th>
                            <th>Device ID</th>
                        </tr>
                        <tr class="empty-td">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>20.03.2015</td>
                            <td>19:06:24</td>
                            <td>46.138.67.123</td>
                            <td>520699904.1427393279</td>
                        </tr>
                        <tr>
                            <td>20.03.2015</td>
                            <td>19:06:24</td>
                            <td class="good">46.138.67.150</td>
                            <td>520699904.1427393279</td>
                        </tr>
                        <tr>
                            <td>20.03.2015</td>
                            <td>19:06:24</td>
                            <td>46.138.67.123</td>
                            <td class="good">520699904.14273932730</td>
                        </tr>
                        {% for i in '12' %}
                        <tr class="empty-td">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>20.03.2015</td>
                            <td>19:06:24</td>
                            <td class="good">46.138.67.150</td>
                            <td>520699904.1427393279</td>
                        </tr>
                        <tr>
                            <td>20.03.2015</td>
                            <td>19:06:24</td>
                            <td>46.138.67.123</td>
                            <td>520699904.1427393279</td>
                        </tr>
                    </table>

                </div>
            </td>
        </tr>

        {# Конец истории посещений #}

        {# Начало звонков #}

        <tr class="history-table">
            <td>История звонков</td>
            <td class="related" style="padding-right:5px !important;">
                <div class="related-wrapper">

                    <table class="zebra">
                        <tr>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Телефон</th>
                            <th>Запись</th>
                        </tr>
                        {% for i in '12345' %}
                                {% if i == '1' or i == '3' %}
                                    <tr class="empty-td">
                                        <td>&nbsp;<br>&nbsp;</td>
                                        <td>&nbsp;<br>&nbsp;</td>
                                        <td>&nbsp;<br>&nbsp;</td>
                                        <td>&nbsp;<br>&nbsp;</td>
                                    </tr>
                                {% else %}
                            <tr>

                                <td>06.11.2015</td>
                                <td>15:37</td>

                                {% if i == '2' or i == '3' %}
                                    <td class="good">+79990079670</td>
                                {% else %}
                                    <td>+79990079668</td>
                                {% endif %}

                                <td><audio controls="" style="width:150px"><source src="/commonPages/getFileFtp.aspx?type=call&amp;id=1267648" type="audio/mpeg"></audio></td>

                            </tr>
                                {% endif %}
                        {% endfor %}
                    </table>

                </div>
            </td>
            <td class="related" style="padding-right:5px !important;">
                <div class="related-wrapper">

                    <table class="zebra">
                        <tr>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Телефон</th>
                            <th>Запись</th>
                        </tr>
                        {% for i in '12345' %}
                                {% if i == '2' or i == '4' or i == '5' %}
                                    <tr class="empty-td">
                                        <td>&nbsp;<br>&nbsp;</td>
                                        <td>&nbsp;<br>&nbsp;</td>
                                        <td>&nbsp;<br>&nbsp;</td>
                                        <td>&nbsp;<br>&nbsp;</td>
                                    </tr>
                                {% else %}
                            <tr>
                                <td>06.11.2015</td>
                                <td>15:37</td>

                                {% if i == '1' or i == '4' %}
                                    <td class="good">+79990079670</td>
                                {% else %}
                                    <td>+79990079668</td>
                                {% endif %}

                                <td><audio controls="" style="width:150px"><source src="/commonPages/getFileFtp.aspx?type=call&amp;id=1267648" type="audio/mpeg"></audio></td>

                            </tr>
                                {% endif %}
                        {% endfor %}
                    </table>

                </div>
            </td>
        </tr>

        {# Конец звонков #}

    </table>

{% endblock %}