<!DOCTYPE html>

<html lang="ru">

<head>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css" />

    <style>

        th, td {vertical-align:top;}

        .all {padding:0 20px;width:960px;line-height:15px;font-size:13px;}

        .main-teachers-table {width:100%;margin-top:20px;}

            .main-teachers-table .fa-check-square-o       {font-size:15px;color:#5cb85c;}
            .main-teachers-table .fa-exclamation-triangle {font-size:15px;color:#999;}
            .main-teachers-table .fa-exclamation-circle   {font-size:15px;color:#f0ad4e;}
            .main-teachers-table .fa-ban                  {font-size:15px;color:#d9534f;}
            .main-teachers-table .fa-clock-o              {font-size:15px;color:#999;}
            .main-teachers-table .fa-skype                {font-size:15px;color:#3E9DD7;}
            .main-teachers-table .fa-map-marker           {font-size:15px;color:#999;}
            .main-teachers-table .fa-eye                  {font-size:15px;}

            .column-filter {padding-right:20px;width:250px;}

                .filter-table {width:100%;margin-top:20px;}
                    .filter-table th {padding-bottom:10px;padding-right:10px;vertical-align:middle;white-space:nowrap;}
                    .filter-table td {padding-bottom:10px;width:100%;}

            .column-teacher {}

                .teachers-table {margin-top:20px;}

                    .photo-cell {width:110px;border-bottom:1px solid #ccc;border-top:1px solid #ccc;padding:20px 15px 20px 0;}

                    .info-cell  {border-bottom:1px solid #ccc;border-top:1px solid #ccc;padding:20px 0;}

                        .name-table {width:100%;margin-bottom:10px;}
                            .name-table td {text-align:right;}

                    .teacher-table {margin:10px 0;}
                        .teacher-table th {padding:1px 0;padding-right:5px;}
                        .teacher-table td {padding:1px 0;}


        /* subject */

        .subject:hover {background:#f3f3f3 !important;cursor:pointer;border-color:#ccc;}

    </style>

</head>

<body>

    <div class="all">

        <h1>Репетиторы</h1>

        <table class="main-teachers-table">
            <tr>
                <td class="column-filter">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Поиск по ID">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><span class="fa fa-search" aria-hidden="true"></span></button>
                        </span>
                    </div>


                    <table class="filter-table">
                        {% for i in '12345678901234567890' %}
                            <tr>
                                <th>Параметр</th>
                            </tr>
                            <tr>
                                <td><select class="form-control"><option>Опция</option></select></td>
                            </tr>
                        {% endfor %}
                    </table>

                </td>
                <td class="column-teacher">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Поиск по параметрам">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><span class="fa fa-search" aria-hidden="true"></span></button>
                        </span>
                    </div>

                    <table class="teachers-table">

                        <tbody>
                            {% for i in '123456789' %}
                                <tr>
                                    <td class="photo-cell">
                                        <div style="background:#eee;text-align:center;">
                                            <a href="#"><img src="http://www.img.repetit.ru/photo/teacher_5399.jpg"></a>
                                        </div>

                                        <table class="teacher-table">
                                            <tr>
                                                <th style="color:#f0ad4e;white-space:nowrap;font-size:17px;">
                                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
                                                </th>
                                                <td><a href="#">999</a></td>
                                            </tr>
                                            <tr>
                                                <th>Отзывов</th><td><a href="#">99</a></td>
                                            </tr>
                                            <tr>
                                                <th>Рейтинг</th><td>39,8</td>
                                            </tr>
                                            <!--tr>
                                                <th style="padding-top:10px;">Рейтинг А.</th><td style="padding-top:10px;">39,8</td>
                                            </tr>
                                            <tr>
                                                <th>Рейтинг П.</th><td>39,8</td>
                                            </tr-->
                                        </table>

                                        <table class="teacher-table">
                                            <tr>
                                                <th>ID</th><td>17966{{ i }}</td>
                                            </tr>
                                        </table>

                                        <table class="teacher-table">
                                            <tr>
                                                <th>Баланс</th><td>+5850</td>
                                            </tr>
                                            <tr>
                                                <th>Предп.</th><td>+7850</td>
                                            </tr>
                                        </table>

                                        <div class="btn-group">
                                            <button title="Позвонить репетитору" class="btn btn-sm btn-default" style="padding:0;width:35px;height:35px;text-align:center;"><i class="fa fa-phone" style="font-size:18px;"></i></button>
                                            <button title="Отправить SMS" class="btn btn-sm btn-default" style="padding:0 5px;       height:35px;text-align:center;font-size:13px;"><b>SMS</b></button>
                                            <button title="Показать телефон" class="btn btn-sm btn-default" style="padding:0;width:35px;height:35px;text-align:center;"><i class="fa fa-eye" style="font-size:18px;"></i></button>
                                        </div>

                                        <div class="btn-group" style="margin-top:10px;">
                                            <button title="Отправить Email" class="btn btn-sm btn-default" style="padding:0;width:35px;height:35px;text-align:center;"><i class="fa fa-envelope" style="font-size:18px;"></i></button>
                                            <button title="Показать Email" class="btn btn-sm btn-default" style="padding:0;width:35px;height:35px;text-align:center;"><i class="fa fa-eye"      style="font-size:18px;"></i></button>
                                        </div>

                                        <!--table class="teacher-table">
                                            <tr>
                                                <th>Email рассылки</th>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-check-square-o"></i> О заявках</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-check-square-o"></i> О сервисе</td>
                                            </tr>
                                        </table-->

                                        <!--table class="teacher-table">
                                            <tr>
                                                <th title="Дата регистрации">Дата рег.</th>
                                            </tr>
                                            <tr>
                                                <td>02.09.2020</td>
                                            </tr>
                                            <tr>
                                                <th title="Последнее посещение репетитором" style="padding-top:5px;">Посл. посещ.</th>
                                            </tr>
                                            <tr>
                                                <td>02.09.2020</td>
                                            </tr>
                                            <tr>
                                                <th title="Дата подтверждения правил" style="padding-top:5px;">Прав. подтв.</th>
                                            </tr>
                                            <tr>
                                                <td>02.09.2020</td>
                                            </tr>
                                        </table-->

                                    </td>
                                    <td class="info-cell">

                                        <table class="name-table">
                                            <tr>
                                                <th style="vertical-align:middle;">
                                                    <a href="#" style="font-size:17px;">Константинопольская Клавдия Ивановна</a>
                                                    <div style="font-weight:normal;margin-top:3px;">50 лет - 02.08.1990, стаж - 10 лет, пол - женский</div>
                                                </th>
                                                <td style="white-space:nowrap;">
                                                    <button title="Подходящий репетитор" class="btn btn-sm btn-success" style="width:35px;height:35px;line-height:35px;text-align:center;padding:0;"><i class="fa fa-check-circle" style="font-size:22px;line-height:33px;"></i></button>
                                                    <button title="Подходящий с условиями" class="btn btn-sm btn-default" style="width:35px;height:35px;line-height:35px;text-align:center;padding:0;"><i class="fa fa-commenting"   style="font-size:22px;line-height:33px;"></i></button>
                                                    <button title="Неподходящий репетитор" class="btn btn-sm btn-danger"  style="width:35px;height:35px;line-height:35px;text-align:center;padding:0;"><i class="fa fa-times-circle" style="font-size:22px;line-height:33px;"></i></button>
                                                </td>
                                            </tr>
                                        </table>

                                        <table class="teacher-table">
                                            <tr>
                                                <th><i class="fa fa-map-marker" style="font-size:15px;" title="Зона"></i></th><td>Ханты-Мансийск и Ханты-Мансийский автономный округ</td>
                                            </tr>
                                        </table>

                                        <!--div style="padding:3px 4px;background:#fdd;border:1px solid #d9534f;border-radius:2px;margin:10px 0;">
                                            <i class="fa fa-ban"></i> <b style="color:#d9534f;">Запрещено отдавать заявки</b>
                                        </div>

                                        <div style="padding:3px 4px;background:#ffe;border:1px solid #f0ad4e;border-radius:2px;margin:10px 0;">
                                            <i class="fa fa-exclamation-circle"></i> <b style="color:#f0ad4e;">Ученики не нужны до 02.08.1990</b>
                                        </div-->

{#                                        <div><i class="fa fa-check-square-o"></i> Анкета проверена</div> <div><i class="fa fa-check-square-o"></i> Верификация пройдена</div>#}
{#                                        <div><i class="fa fa-check-square-o"></i> Добавлена фотография или какой-либо документ</div>#}
{##}
{#                                        <div><i class="fa fa-exclamation-triangle"></i> Не является индивидуальным предпринимателем</div>#}
{#                                        <div><i class="fa fa-exclamation-triangle"></i> Анкета не отображается на сайте</div>#}

                                        <table class="teacher-table">
                                            <tr>
                                                <th>Преподаватель вуза <i title="Место работы отображается на сайте" class="fa fa-check-square-o"></i></th>
                                            </tr>
                                            <tr>
                                                <td>Московский Государственный Университет им. Ломоносова</td>
                                            </tr>
                                        </table>

                                        <div style="    padding: 3px 4px;
    background: #F5FAFD;
    border: 1px solid #D5E5EC;
    border-radius: 2px;">
                                        <table class="teacher-table" style="margin:0;">
                                            <tr>
                                                <th><i class="fa fa-comment-o" title="Комментарий сотрудника"></i></th>
                                                <td>Очень плохо говорит по русски. Переводчик - Сидоров Иван Петров, телефон - 8 (888) 888-88-88</td>
                                            </tr>
                                        </table>
                                        </div>

{#                                        <ul style="margin:10px 0 10px 20px;padding:0;">#}
{#                                            <li style="margin:0;">#}
{#                                                Преподаватель вуза (МГУ), 50 лет (02.08.1990), 10 лет стажа, ИП, жен.#}
{#                                            </li>#}
{#                                            <li style="margin:0;">#}
{#                                                Носитель языка (Англия), владение русским - понимаю, но не говорю#}
{#                                            </li>#}
{#                                            <li style="margin:0;">#}
{#                                                Очень плохо говорит по русски. Переводчик - Сидоров Иван Петров, телефон - 8 (888) 888-88-88#}
{#                                            </li>#}
{#                                        </ul>#}

                                        <div>
                                            <p style="margin:15px 0 10px;"><b>ПРЕДМЕТЫ (2)</b></p>

                                            <table style="width:100%;" class="teacher-table">
                                                <tr>
                                                    <th style="width:1px;font-size:15px;"><i class="fa fa-clock-o"></i></th><td>Минимальная продолжительность занятия - <b>60</b> минут</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:1px;font-size:15px;"><i class="fa fa-skype" title="Комментарий к удалённым занятиям"></i></th><td>Репетитор предпочитает использовать Teamspeaker</td>
                                                </tr>
                                            </table>

                                            <div>
                                                <div class="subject" style="border:1px solid #ddd;padding:5px;border-radius:2px 2px 0 0;background:#f1f1f5;">
                                                    <table class="teacher-table" style="width:100%;margin:0;">
                                                        <tr>
                                                            <th>Информатика / программирование
                                                                <div style="font-size:11px;line-height:12px;font-weight:normal;">Свернуть</div>
                                                            </th>
                                                            <td style="text-align:right;white-space:nowrap;width:1%;padding-left:10px;">
                                                                <span style="color:#999;">от </span><b>1000 ₽/ч</b><div style="font-size:11px;line-height:12px;">У репетитора</div>
                                                            </td>
                                                            <td style="text-align:right;white-space:nowrap;width:1%;padding-left:10px;">
                                                                <span style="color:#999;">от </span><b>1200 ₽/ч</b><div style="font-size:11px;line-height:12px;">У ученика</div>
                                                            </td>
                                                            <td style="text-align:right;white-space:nowrap;width:1%;padding-left:10px;">
                                                                <span style="color:#999;">от </span><b>1900 ₽/ч</b><div style="font-size:11px;line-height:12px;">Online</div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div style="border:1px solid #ddd;border-top:0;padding:5px;">
                                                    <table class="teacher-table" style="margin:0;">
                                                        <tr>
                                                            <th>Разделы</th>
                                                            <td>Школьный курс, аналитическая геометрия, линейная алгебра<!--, математический анализ, дифференциальные уравнения--></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Дополнения</th>
                                                            <td>ОГЭ (ГИА), ЕГЭ</td>
                                                        </tr>
                                                        <tr>
                                                            <th style="white-space:nowrap;">Катег. учеников</th>
                                                            <td>Школьники 9-11 классов, студенты, взрослые</td>
                                                        </tr>
                                                        <tr>
                                                            <th style="white-space:nowrap;">Уровень знаний</th>
                                                            <td>С нуля,	начальный, средний продвинутый</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                            <div class="subject" style="border:1px solid #ddd;border-top:0;padding:5px;border-radius:2px 2px 0 0;background:#f1f1f5;margin-bottom:10px;">
                                                <table class="teacher-table" style="width:100%;margin:0;">
                                                    <tr>
                                                        <th>Математика
                                                            <div style="font-size:11px;line-height:12px;font-weight:normal;">Развернуть</div>
                                                        </th>
                                                        <td style="text-align:right;white-space:nowrap;width:1%;padding-left:10px;">
                                                            <span style="color:#999;">от </span><b>1000 ₽/ч</b><div style="font-size:11px;line-height:12px;">У репетитора</div>
                                                        </td>
                                                        <td style="text-align:right;white-space:nowrap;width:1%;padding-left:10px;">
                                                            <span style="color:#999;">от </span><b>1200 ₽/ч</b><div style="font-size:11px;line-height:12px;">У ученика</div>
                                                        </td>
                                                        <td style="text-align:right;white-space:nowrap;width:1%;padding-left:10px;">
                                                            <span style="color:#999;">от </span><b>1900 ₽/ч</b><div style="font-size:11px;line-height:12px;">Online</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        <div>

                                            <p style="margin:15px 0 10px;"><b>АДРЕСА (1)</b></p>

{#                                            <div style="margin-bottom:10px;">#}
{#                                                <div><i class="fa fa-check"></i> Занятия проводятся у себя</div>#}
{#                                                <div><i class="fa fa-check"></i> Проводится выезд к ученику</div>#}
{#                                            </div>#}

                                            <div style="padding:5px;border:1px solid #ddd;background:#f1f1f5;">
                                                <div><b>м. Юго-Западная</b> - улица Профсоюзная д.146 корп.2 (10 минут пешком)</div>
                                                <table class="teacher-table" style="margin:0;width:100%;">
                                                    <tr>
                                                        <th style="padding-top:5px;padding-bottom:0;"><i class="fa fa-check-square-o"></i></th><td style="padding-top:5px;padding-bottom:0;">Проводится выезд (не более 40 минут от своего района)</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="padding-bottom:5px;padding-top:0;"><i class="fa fa-check-square-o"></i></th><td style="padding-bottom:5px;padding-top:0;">Проводятся занятия</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:1px;"><i class="fa fa-eye"></i></th><td><span style="float:right;"><i class="fa fa-map-marker"></i> <a href="#" class="map-link">Показать адрес на карте</a></span> Адрес отображается на сайте</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                            <p style="margin:15px 0 10px;"><b>ОБРАЗОВАНИЕ (2)</b></p>
                                        <div>
                                            <div>• МГУ '90, юридический факультет, юрист-международник</div>
                                            <div style="margin-top:5px;">• МГУ '85, факультет экономики, экономист</div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>

    <script>

        $('[title]').tooltipster({delay:50});

        $('.subject').on('click', function(){alert('Тут должны раскрыться/схлопнуться блок дополнительных полей');return false});
        $('.map-link').on('click', function(){alert('Типа карта яндекса с координатами');return false;});

        $('.select').select2().on('select2:unselect', function(e) {
            if (!e.params.originalEvent) return;
            e.params.originalEvent.stopPropagation();
        });

    </script>

</body>

</html>