{% extends 'back/home.html' %}

{% block content %}

    {% include 'back/b_repetitor.html' %}

    <table class="zebra">
        <tr>
            <th>Дата</th>
            <th style="white-space:nowrap;">Что изменено</th>
            <th>Описание</th>
            <th>Пользователь</th>
        </tr>
        {% for i in '1234567890' %}
            <tr>
                <td style="white-space:nowrap;">10.03.2015 16:48</td>
                <td>Договорились о дате первого занятия</td>
                <td>Договорились о первом занятии (или ознакомительной встрече) на 16.03.2015 Комментарии - 'предварительно договорились о первом занятии на понедельник, 16.03.2015 у преподавателя (м. Курская)по цене 1500 за 90 мин., но о точном времени будем договариваться заранее по телефону'</td>
                <td>Константинопольский Константин Константинович</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}