{% extends 'back/home.html' %}

{% block content %}

        {% spaceless %}
            <div class="tabs" style="width:100%;margin-left:-20px;padding:0 20px;">
                <a href="{% url 'subjects'  %}" class="tab {% active 'subjects'  %}">Предметы (Вариант 1)</a>
                <a href="{% url 'subjects2' %}" class="tab {% active 'subjects2' %}">Предметы (Вариант 2)</a>
            </div>
        {% endspaceless %}

        <table class="first">
            <tr>
                <td style="width:260px;">
                    {% for sub in subs %}
                        <div style="border-right:1px solid #ddd;" class="subject-menu">
                            {% if sub == 'Японский язык' %}
                                <a href="#" style="background:#f0f0f5;text-decoration:none;">{{ sub }}</a>
                            {% else %}
                                <a href="#">{{ sub }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
                <td>
                    <style>
                        .bbb {border-collapse:collapse;}
                        .bbb th, .bbb td {text-align:center;border:1px solid #ddd;padding:5px;}
                    </style>
                    <table style="width:100%;margin-left:10px;" class="bbb">
                        <tr>
                            <th>Название</th>
                            <th>№</th>
                            <th>Дательный падеж</th>
                            <th>Родительный падеж</th>
                            <th>Порядок сортировки</th>
                            <th>Приоритет</th>
                        </tr>
                        <tr>
                            <td>Японский язык</td>
                            <td>2</td>
                            <td>Японскому языку</td>
                            <td>Японского языка</td>
                            <td>10</td>
                            <td>20</td>
                        </tr>
                    </table>
                    <table style="table-layout:fixed;">
                            <tr>
                                <td>
                                    <h4 style="width:100%;margin:10px;">Разделы</h4>
                                    <div style="height:450px;overflow-y:scroll;border:1px solid #ccc;padding:10px;margin:10px;">
                                        {% include 'back/b_divisions2.html' %}
                                    </div>
                                </td>
                                <td>
                                    <h4 style="width:100%;margin:10px;">Дополнения</h4>
                                    <div style="height:450px;overflow-y:scroll;border:1px solid #ccc;padding:10px;margin:10px;">
                                        {% include 'back/b_additions2.html' %}
                                    </div>
                                </td>
                            </tr>
                    </table>
                    <button style="margin:0;margin-left:10px;">Сохранить разделы и дополнения</button>
                </td>
            </tr>
        </table>

{% endblock %}
